*{
    /* outline: solid 1px white; */
}
body,html{
    margin: 0;
    padding: 0;
    background-color: #163D50;
}



.LandingPage{
    background-image: url('../images/common/BG-texture\ v1.jpg');
    height:calc(100vh - 85px);
    overflow: hidden;
}


 .LandingPage::after {
    content: '';
    display: block;
    width: 100%;
    height: 10vh;
    max-height: 85px;
} 

.LandingPage_warp{
    display: flex;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    align-items: flex-end;
    height:calc(100vh - 85px);
    
}
.colum{
   /* display: none; */
   width: 82px;
   height:calc(100vh - 85px);
}


.colum::after {
    content: '';
    display: block;
    width: 100%;
    height: 10vh;
    max-height: 85px;
} 




.DOOR{
    margin: 0 auto;
    width: 380px;
    background-image: url('../images/common/door-2.png');
    background-size: cover;

}
.DOOR img{
    width: 100%
}


.pip_push{
    position: absolute;
    width: 150px;
    transform: translate(-120px, 300px) ;

}

.door_outside{
    position: relative;
    transform: translateX(150px);
}

.doorSign_warp {
    position: absolute;
    text-align: center;
    margin-top: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* object-position: 50% 50%; */
 
}

.doorSign_warp h1:nth-of-type(1){
    font-size: 40px;
    font-family: 'Noto Serif TC';
    font-weight: SemiBold;
    


}

.doorSign_warp p{
    font-family: 'Noto Sans TC';
    color: #E9BF85;
    font-size: 18px;
}
.doorSign_warp p:nth-of-type(1){
  margin-top: 15px;
}

.doorSign_warp p:nth-of-type(2),p:nth-of-type(3),p:nth-of-type(4){
    transform:  translateX(10px);
  
  }

  /* :nth-child(){
    
} */

  .doorSign_warp h1:nth-of-type(2){
     margin-top: 15px;
     transform:  translateX(10px);
     color: #E9BF85;
     font-size: 25px;
     font-weight: bold;

  }


  .button_warp{
    position: absolute;
    margin-top: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

  }

  .btn01{
     width: 60px;
     height: 40px;
     border-radius: 10px;
     margin: auto 5px;
     background-color: transparent;
     color: var(--gold);
     border: solid 1px var(--gold);
  }

  .home{
      width: 100%;
      height:calc(100vh - 85px);
      display: flex;
      flex-direction: column;
       overflow: hidden;  

  }
  .home_bg {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: calc(100vh - 85px);
      background: url("../images/common/Homepage_background.png") center center no-repeat;
      background-size: contain;
     
  }

  .home::after {
      content: '';
      display: block;
      width: 100%;
      height: 10vh;
      max-height: 85px;
  }


  .Logo_wrap{
      display: flex;
      position: relative;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-top: -100px;
   
  }


.flag{
    position: relative;
    
    width: 1000px;
    overflow: hidden;
}

.flag img{
    width: 100%;
}

.LOGO_Filter{
    position: absolute;
    z-index: 99;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 25px;   
}


.LOGO_Filter img{
    width: 100%;
}

.pip_pick{
    position: absolute;
    width: 100px;
    transform: rotate(30deg) translate(110px,5px);
    
    
}

.Woman_warp{
    display: flex;
    
    justify-content: center;

    /* transform: translateY(-20px); */
    
  
    
    
}

.woman{
    
    margin: auto 35px;
    width: 180px;
}

.woman img{
    width: 100%;
}

.woman01{
    margin-top: 1px;
}
.woman03{
    width: 250px;
    margin-top: 1px;
    transform: translateX(25px);
}

.Brew-school{
    /* height: 100vh; */
}


.title-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-title{
    position: relative;
    margin: auto 15px;
    width: 300px;
}

.Brew-school-title h1{
    position: absolute;
    top: 20%;
    left: 3%;
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 15px;
    text-indent:1.2rem;
}
.h1-ear{
    width: 150px;
}


.Brew-school-intro {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.brew-beer-left{
    width: 550px;
    justify-content: space-between;
    text-align: right;
    
}

.brew-beer-intro{
    border-bottom: solid 1px #fff;

}


.title-txt{
    width: 250px;
    border-bottom: solid 1px #fff;
    padding: 10px 0;
}
.title-txt h2{
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 0.1rem;
}


.content-txt{
    margin-top: 40px;
}
.content-txt h6{
    font-family: 'Noto Sans TC', serif;
    font-size: 18px;
    letter-spacing: 0.1rem;
    margin-bottom: 25px;
   

}

.content-txt h6:nth-of-type(1){
    
    color:var(--yellow);
}
.content-txt h6:nth-of-type(3){
    margin: 35px 0;
    color:var(--yellow);
}
.content-txt h6:nth-of-type(4){
    margin:45px 0;
   
}
.content-txt h6:nth-of-type(5){
    color:var(--yellow);
}

.category-middle{
    width: 100px;
    border-bottom: solid 1px #fff;
}
.category-middle h6{
   
    font-family: 'Noto Sans TC', serif;
    font-size: 18px;
    letter-spacing: 0.1rem;
    text-align: center;
    padding-bottom: 20px;

}
.category-middle h6:nth-of-type(1){
    border-top: solid 1px #fff;
    margin-top: 67px;
    padding-top: 40px;
    color:var(--yellow);
}

.category-middle h6:nth-of-type(3){
    color:var(--yellow);
}
  

.category-middle h6:nth-of-type(5){
    color:var(--yellow);

   
}

.bussiness-beer-right{
    width: 550px;
    justify-content: space-between;
    text-align: left;
    

}

.bussiness-beer-intro{
    border-bottom: solid 1px #fff;

}

.more-btn01{
    margin: 0 auto;
    align-items: center;
    
}
.more-btn01 button{
    font-family: 'Noto Serif TC', serif;
    color:#fff;
    font-weight: bold;
    letter-spacing: 0.1rem;
    background-color: transparent;
    border: transparent;

}

.more-btn01::before{
    content: '';
    display:block;
    width: 10px;
    height: 16px;
    background: url("../images/common/ear_left_yellow.svg") 0 0 no-repeat;
    
}
.more-btn01::after{
    content: '';
    display:block;
    width: 10px;
    height: 16px;
    background: url("../images/common/ear_right_yellow.svg") 0 0 no-repeat;
 
}

.Beer-type{
    margin-top: 60px;
}

.title-wrap h3{
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.1rem

}

.type-content{
    justify-content: space-around;
    align-items: center;
}

.type-forward{
    
    background-image: url("../images/common/arrow_left.svg");
    width: 80px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;


}


.type-intro{
    justify-content: space-between;
    width: 700px;
}

.type-intro-img{
    width: 160px;

}

.type-intro-content{
    width: 400px;

}


.type-intro-title{
    align-items: center;
}

.type-intro-title h3{ 
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.1rem;
    color: var(--yellow);

}

.type-intro-title:before{
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: url('../images/common/dot-1.svg')

}

.colorDot {
    display: none;
}




.type-intro-text p{
    word-break: break-all;
    font-family: 'Noto Sans TC', serif;
    font-size: 16px;
    letter-spacing: 0.1rem;
    line-height: 2;

}



.type-backward{
    background-image: url("../images/common/arrow_right.svg");
    width: 80px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;


}


.more-btn02{
    justify-content: flex-end;
    align-items: center;
    
}
.more-btn02 button{
    font-family: 'Noto Serif TC', serif;
    color:#fff;
    font-weight: bold;
    letter-spacing: 0.1rem;
    background-color: transparent;
    border: transparent;

}

.more-btn02::before{
    content: '';
    display:block;
    width: 10px;
    height: 16px;
    background: url("../images/common/ear_left_yellow.svg") 0 0 no-repeat;
    
}
.more-btn02::after{
    content: '';
    display:block;
    width: 10px;
    height: 16px;
    background: url("../images/common/ear_right_yellow.svg") 0 0 no-repeat;
 
}

.hand{
    position: absolute;
    transform: translate(-30px,-200px);
    width: 20%;
}

.type-color{
    justify-content: center;  
    margin-top: 50px;
}

.drop{
    margin: 0 30px;
    width: 4%
  
}

.BeerU-colllection{
    margin-top: 120px;
}
.BeerU-colllection-title h1{
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 45px;
    letter-spacing: 23px;
    position: absolute;
    text-indent:1.2rem;
    top: 20%;
    left: 4%;
}

.colllection-items{
    margin-top: 40px;
}
.item-flag{
    position: relative;
    z-index: 1;
    margin: 0 auto;
    width: 40px;

    transform: rotate(-10deg) translate(0px,20px);
}
.item-img{
    position: relative;
    z-index: 2;
    margin: 0 auto;
    width: 150px;
}

.item-intro h4{
    font-family: 'Noto Sans TC', serif;
    font-weight: Medium;
    font-size: 20px;
    text-align: center;
}


.dot-wrap{
  
  
    margin: 0 auto;  
}

.dot-wrap span{
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #fff;

}
.dot-wrap span:nth-of-type(1){
  
    background-color: var(--yellow);

}


.feature-wrap{
   
    display: flex;
    justify-content: center;
}


.feature{
    position: relative;
    margin: 15px 15px;
    width: 540px;
    height: 350px;
}


.feature01{
    background-image: url('../images/Links/feature01.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
}
.feature02{
    
    background-image: url('../images/Links/feature02.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
}
.feature03{
    background-image: url('../images/Links/feature03.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
  
}
.feature04{
    background-image: url('../images/Links/feature04.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
} 


.feature-content{
   
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(to right ,#000 0% , transparent 100% );
}

.feature-content p{
    font-family: 'Noto Serif TC', serif;
    font-size: 35px;
    font-weight: bold;
    margin-left: 20px;
  
}

.feature-content:hover{
    
    background: linear-gradient(to right ,#b69564 0% , transparent 100% );

}


.BeerU-legend{
    margin-top: 120px;
}
.BeerU-legend-title h1{
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 45px;
    letter-spacing: 23px;
    position: absolute;
    text-indent:1.2rem;
    top: 20%;
    left: 4%;
}

.legned-story{
    margin-top: 50px;
}

.legned {
    margin: 0 auto;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: solid 1px var(--yellow)
    

}

.legned h3{
     font-family: 'Noto Serif TC', serif;
     letter-spacing: 5px;
     line-height: 50px;
     margin-top: 10px;
     font-size: 30px;
     text-align: center;
     color: var(--yellow);
}

.legned-content{
    width: 250px;
    word-break:break-alll;
    margin: 0 auto;
    
}

.pipi{
    margin-top: 80px;
}

.clouds{
    height: 400px;
    background-image: url("../images/common/clouds.svg");
    background-repeat: no-repeat;
    background-position:center;
}


.pipi-left{
    justify-content: center;
    align-items: center;
    margin-top: 80px
}

.pipi-name h3{
    
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    letter-spacing: 0.1rem;
    line-height: 1.25;
    font-size: 35px;

}

.pipi-name h3:nth-of-type(2){
    margin-top: 25px;
    color:#b69564;
}

.pipi-img{
    width: 200px;
}


.pipi-intro p{
     font-family: 'Noto Serif TC', serif;
     letter-spacing: 5px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 80px;
    width: 400px;
    word-break: break-all;
    
    border: solid 2px var(--gold);

    border-radius: 10px;
}



















