*{
    /* outline: solid 1px white; */
}
body,html{
    margin: 0;
    padding: 0;
    background-color: #163D50;
}



.LandingPage{
    background-image: url('../images/common/截圖\ 2021-04-13\ 下午5.25.34.jpg');
    height: 100vh;
}

.LandingPage_warp{
    display: flex;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    align-items: flex-end;
    
}
.colum{
   width: 65px;
}

.colum img{
    width: 100%;
}


.DOOR{
    width: 350px;
    background-image: url('../images/common/door-2.png');
    background-size: cover;

}
.DOOR img{
    width: 100%
}


.door_outside{
    position: relative;
    /* transform: translateX(300px); */
}

.doorSign_warp {
    position: absolute;
    text-align: center;
    margin-top: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* object-position: 50% 50%; */
 
}

.doorSign_warp h1:nth-of-type(1){
    font-size: 40px;
    font-family: 'Noto Serif TC';
    font-weight: SemiBold;
    


}

.doorSign_warp p{
    font-family: 'Noto Sans TC';
    color: #E9BF85;
    font-size: 18px;
}
.doorSign_warp p:nth-of-type(1){
  margin-top: 15px;
}

.doorSign_warp p:nth-of-type(2),p:nth-of-type(3),p:nth-of-type(4){
    transform:  translateX(10px);
  
  }

  /* :nth-child(){
    
} */

  .doorSign_warp h1:nth-of-type(2){
     margin-top: 15px;
     transform:  translateX(10px);
     color: #E9BF85;
     font-size: 25px;
     font-weight: bold;

  }


  .button_warp{
    position: absolute;
    margin-top: 220px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

  }

  .btn01{
     width: 60px;
     height: 40px;
     border-radius: 10px;
     background-color: transparent;
     color: var(--gold);
     border: solid 1px var(--gold);
  }

  .home{
      width: 100%;
      height:calc(100vh - 85px);
      display: flex;
      flex-direction: column;
       overflow: hidden;  

  }
  .home_bg {
      width: 100%;
      height: calc(100vh - 85px);
      background: url("../images/common/Homepage_background.png") center center no-repeat;
      background-size: contain;
     
  }

  .home::after {
      content: '';
      display: block;
      width: 100%;
      height: 10vh;
      max-height: 85px;
  }


  .Logo_wrap{
      display: flex;
      position: relative;
      width: 100%;
      justify-content: space-between;
      margin-top: -60px;
  }


.flag{
    width: 60%;
}

.flag img{
    width: 100%;
}

.LOGO_Filter{
    position: absolute;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: -50px;

   
}
.LOGO_Filter img{
    width: 100%;
}

.Woman_warp{
    display: flex;
    justify-content: center;
    /* margin-top: -95px; */
}

.woman{
    margin: auto 30px;
    width: 180px;
}

.woman img{
    width: 100%;
}

.woman01{
    margin-top: 1px;
}
.woman03{
    width: 250px;
    margin-top: 1px;
}

.INTRO{
    height: 100vh;
}









