/* ----------------------麵包屑---------------------- */
        .each-product {
            position: relative;
        }

        .beeru-breadcrumb {
            font-family:'Noto Serif TC', serif;
            font-weight: 600;
            color: var(--gold);
            position: absolute;
            z-index: 10;
            top: 50px;
            left: 50px;
        }

/* ------------------------單支產品介紹---------------------- */
        .e-product-intro-warp {
            padding: 0;
        }

        .e-product-intro {
            width: 100%;
            height: calc(100vh - 85px);
            margin: 0;
        }


/* --------------左邊產品圖------------- */
        .product-pic {
            height: 100%;
            position: relative;
            background: url(../../images/common/bg/product-bg.png) no-repeat;
            background-size: cover;
        }

        .product-pic .pic {
            width: 20%;
            min-width: 120px;
            max-width: 170px;
            height: 65%;
        }

        .product-pic .pic img {
            width: 100%;
            height: 100%;
            object-fit: contain;   
        }

        /* 收藏按鈕 */

        .collect {
            position: absolute;
            top: 17%;
            right: 10%;
        }

        .btn_collect2 {
            font-family:'Noto Serif TC', serif;
            color: var(--red);
            font-size: 1.8rem;
            font-weight: 700;
            letter-spacing: 0.15rem;
            background-color: #fff;
            border: 1.5px solid var(--red);
            cursor: pointer;
            transition: .3s;
        }

        .btn_collect2 i, .btn_collect2_active i {
            margin: 5px;
        }

        .btn_collect2:hover {
            background-color: var(--red);
            color: #fff;
        }

        .btn_collect2_active {
            font-family:'Noto Serif TC', serif;
            color: #fff;
            font-size: 1.8rem;
            font-weight: 700;
            letter-spacing: 0.15rem;
            background-color: var(--red);
            border: 1.5px solid var(--red);
            cursor: pointer;
            transition: .3s;
        }

        .btn_collect2_active:hover {
            background-color: #fff;
            color: var(--red);
        }




/* -------------右邊產品介紹-------------- */
        
        .product-intro {
            position: relative;
        }

        .intro-content {
            width: fit-content;
            max-width: 530px;
            margin: 0 auto;
        }

        /* 產品名稱 */
        .pro-name {
            font-family: 'Noto Serif TC', serif;
            font-size: 2.6rem;
            font-weight: bold;
            line-height: 3.6rem;
        }

        .pro-name>p:nth-of-type(1) {
            margin-top: 10px;
        }

        .pro-name>p:nth-of-type(2) {
            font-size: 1.8rem;
            color: var(--gold);
        }

        /* 國旗 */
        .c-pic {
            width: 27px;
            height: 27px;
            margin-left: 8px;
        }

        

        /* 產品介紹 */
        .intro-text {
            margin: 6% 0;
            width: 90%;
            max-width: 530px;
            font-size: 1.7rem;
        }

        /* 購買數量 */
        .p-buy {
            width: 100%;
            max-width: 300px;
        }

        .quantity {
            border: 1px solid #fff;
            padding: 0 15% ;
        }

        .buy-number {
            font-size: 1.8rem;
            font-weight: 600;
            width: 50px;
            text-align: center;
            color: #fff;
            background-color: transparent;
            border: none;
            outline: none;
        }

        .minus, .plus {
            cursor: pointer;
            transition: .3s;
        }

        .minus:hover, .plus:hover {
            color: var(--yellow);
        }


        /* 商品價格 */
        .p-price {
            border: 1px solid #fff;
            color: var(--blue);
            background-color: #fff;
            text-align: center;
            font-size: 2rem; 
            font-weight: 600;   
        }
        .p-price span {
            font-size: 1.6rem;
        }

        /* 加入購物車按鈕 */
        .add-cart {
            background-color: transparent;
            border: 1px solid #fff;
            color: #fff;
            font-size: 1.8rem; 
            cursor: pointer;
            transition: .3s;
            padding: 0 3px;
            
        }

        /* 手機版 */
    @media (max-width: 991px) {
        .add-cart {
            background-color: var(--gold);
        }

    }
        .add-cart i {
            margin-right: 8px;
        }
    

        .add-cart:hover {
            background-color: var(--gold);
        }


        /* 產品關鍵字 */
        .product-key {
            width: 100%;
            max-width: 530px;
            margin-top: 6%;
            text-align: center;
        }

        .key-content {
            margin-right: 25px;
        }

        .title {
            width:80px ;
            background: url(../../images/common/h1_2_w.svg) no-repeat center center;
            background-size: contain;
            margin: 0 auto;
        }
        .title-4 {
            width:140px ;
            background: url(../../images/common/h1_4_w.svg) no-repeat center center;
            background-size: contain;
            margin: 0 auto;
        }

        .title p, .title-4 p {
            font-family: 'Noto Serif TC', serif;
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: 0.5rem;
            text-indent:0.5rem;
            line-height: 4.6rem;
            width: fit-content;
            margin: 0 auto;
        }

        .title-4 p {
            letter-spacing: 0.8rem;
        }

        

        .content {
            line-height: 38.67px;
            font-size: 1.8rem;
        }

/* -------------分享按鈕--------------- */
        .share-icons {
            position: absolute;
            top: 0;
            right: 20%;
        }
        .fb, .line{
            margin-right: 5px;
        }
        .share {
            font-size: 1.9rem;
        }


