.discount-popup {
    width: 100%;
    height: calc(100vh - 170px);
    position: fixed;
    z-index: 990;
    background-color: rgba(0, 0, 0, 0.5);
    font-family:'Noto Serif TC', serif;
    font-weight: 600;
    text-align: center;
    display: none;
}

.discount-popup .discount-box {
    width: 700px;
    background-color: #fff;
    border-radius: 15px;
    border: 2px solid var(--gold);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 40px;
}

/* 手機版 */
@media (max-width: 991px) {
    .discount-popup .discount-box {
    width: 95%;
    height: 60vh;
    padding: 10px 5px;
    overflow: scroll;
}
}

.discount-popup .box-title img {
    width: 80px;
    margin-right: 10px;
}

.discount-popup .box-title p {
    font-size: 1.8rem;
    padding: 5px 40px;
    border-bottom: 1.5px solid var(--blue);
    color: var(--blue);
}

.discount-popup .exp {
    margin: 10px 0;
    color: var(--red);
    font-weight: 700;
}

.discount-popup .coupon-list {
    min-height: 300px;
}

.discount-popup .coupon-wrap {
    padding: 0 5px;
    margin-bottom: 10px;
}

.discount-popup .coupon {
    background-color: var(--gold);
    border-radius: 15px;
    border: 1.5px solid var(--gold);
    padding: 0;
    transition: .5s;
    transform: translateY(0px);
}


.discount-popup .coupon p:nth-of-type(1) {
    color: #fff;
    font-size: 1.8rem;
    padding: 15px 0;
}

.discount-popup .coupon .num {
    font-size: 2.4rem;
}

.discount-popup .coupon p:nth-of-type(2) {
    font-size: 1.2rem;
    background-color: #fff;
    border-radius: 0 0 14px 14px;
    color: var(--blue);
    
}

.discount-popup button.discount_ok{
    background-color: #fff;
    border: 1.5px solid var(--gold);
    border-radius: 10px;
    padding: 0 10px;
    color: var(--gold);
    font-weight: 600;
    letter-spacing: 0.2rem;
    transition: .5s;
    margin: 8px 5px;
}

.discount-popup button.discount_ok:hover {
    box-shadow: 0px 0px 10px rgb(196, 183, 147);
}

/*  空白狀態 */
.discount-popup .empty-status {
    color: #b69564d0;
    height: 100%;
}

.discount-popup .empty-status a {
    transition: .5s;
}

.discount-popup .empty-status a:hover {
    color: rgb(160, 109, 15);
    text-decoration: underline;
}

/* 手機版 */
@media (max-width: 991px) {
.discount-popup .empty-status {
    word-break: keep-all;
}
}