.member .member-title.anima {
    animation:titledown 1.2s .2s;
    animation-fill-mode: forwards;
}

.member .member-title img.anima {
    opacity: 1;
    animation:pipileave 1.2s 1.5s;
    animation-fill-mode: forwards;
}

.member .member-title.show {
    transform: translateY(0);
    opacity: 1;
}



@keyframes titledown {
    0% {
        transform: translateY(-180%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes pipileave {
    0% {
        transform: rotate(45deg) translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: rotate(20deg) translate(10%,-100%);
        opacity: 0;
    }
}

.member .member-overveiw.anima {
    animation: toup .5s .6s forwards;
}

.member .member-overveiw.show {
    opacity: 1;
}

.member .member-func.anima {
    animation: toup .5s .8s forwards;
}

.member .member-func.show {
    opacity: 1;
}


@keyframes toup {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.discount-popup .empty-status .pipi {
    animation: pipirotate 1.4s forwards;
}


@keyframes pipirotate {
    0% {
        transform: rotate(-20deg);
        transform-origin: 80% 50%;
    }
    60% {
        transform: rotate(10deg);
        transform-origin: 80% 50%;
    }

    100% {
        transform: rotate(0);
        transform-origin: 80% 50%;
    }
}