body{
    background-color: var(--blue);
}
.newbie-wrap {
    height: 80vh;
    position: relative;
}

.left-crystal-bg{
    height: 80vh;
    position: relative;
    background-image: url(../../images/glori_images/beer-candles.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
    justify-content: center;
    bottom: 0;
}

/* .crystal{
    background-image: url(../../images/glori_images/crystal.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: center;
} */

.pipi{
    position: absolute;
    width: 30%;
    height: 30%;
    background-image: url(../../images/glori_images/pipi-hat.svg);
    background-size: contain;
    background-repeat: no-repeat;
    top: 20px;
    right: 0;
    
}

.right-info{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    /* 新手入門介紹 */
        .newbie-intro-txt {
            margin: 5% 0;
            width: 65%;
            font-size: 1.7rem;
            text-align: justify;
            font-family: "Noto Sans TC", sans-serif;
            font-weight: 400;
            font-size: 1.6rem;
            color: #fff;
            letter-spacing: 0.1rem;
            line-height: 3rem;
        }

     /* 標題 */
        .newbie-wrap .caption {
                    font-family:'Noto Serif TC', serif;
                    font-size: 3.0rem;
                    font-weight: bold;
                    color: var(--gold);
                    margin-top: -10px;
                }

        /* 手機版 */
    @media (max-width: 991px) {

        .right-info{
            overflow: hidden;
            justify-content: space-evenly;
            margin: 0 auto;
            text-align: center;
            position: absolute;
            top: 41%;
            height: auto;
        }

        .right-info .enter-btn{
            margin: 0 auto;
        }

        .newbie-intro-txt {
            display: none;
        }

        .newbie-wrap .caption-txts{
            margin-top: 30px;
        }

        .newbie-wrap .caption{
            font-family:'Noto Serif TC', serif;
            font-size: 2.4rem;
            font-weight: bold;
            color: var(--gold);
        }
}
        /* 圈圈圖案 */
        .newbie-title {
            background: url(../../images/common/h1_4_w.svg) no-repeat center left;
            background-size: contain;

        }

        /* 標題文字 */
        .newbie-title p {
            color: #fff;
            font-family: 'Noto Serif TC', serif;
            font-weight: bold;
            font-size: 3.6rem;
            letter-spacing: 1.2rem;
            text-indent:1.2rem;
            width: fit-content;
            margin-left: 6px;
            position: relative;
        }

        /* 右邊雕飾 */
        .newbie-title p::after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            right:0;
            transform: translate(115%, -50%);
            width: 300px;
            height: 50%;
            background: url(../../images/common/line.svg) no-repeat center left;
            background-size: cover;
            overflow: hidden;

        }

        /* 手機版 改字和雕飾大小*/
    @media (max-width: 991px) {

        .newbie-title{
            margin: 0 auto;
        }

        .newbie-title p {
            font-size: 2.4rem;
            letter-spacing: 0.8rem;
            text-indent:0.8rem;
            margin: 0 auto;
        }

        .newbie-title p::after {
            width: 90%;
            height: 40%;

        }

    }


/* 收藏按鈕 */

/* 桌機版 */
@media (min-width: 992px) {
.e-product-intro  .collect {
    position: absolute;
    top: 17%;
    right: 10%;
}
}

/* 手機版 */
@media (max-width: 991px) {
.e-product-intro  .collect {
    position: absolute;
    bottom: 30px;
    right: 15px;
}
}

/* 加入收藏 */
.btn_collect2 {
    font-family:'Noto Serif TC', serif;
    color: var(--red);
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
    background-color:rgba(255, 255, 255, 0.459);
    border: 1.5px solid var(--red);
    cursor: pointer;
    transition: .3s;
}

/* 手機版 */
@media (max-width: 991px) {
 .btn_collect2{
    border: 1px solid var(--red);
    letter-spacing: 0rem;
    font-size: 1.4rem;
    }
}

.btn_collect2 i, .btn_collect2_active i {
    margin: 5px;
}

.btn_collect2:hover {
    background-color: var(--red);
    color: #fff;
}

/* 已收藏 */
.btn_collect2_active {
    font-family:'Noto Serif TC', serif;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
    background-color: var(--red);
    border: 1.5px solid var(--red);
    cursor: pointer;
    transition: .3s;
}

.btn_collect2_active:hover {
    background-color: #fff;
    color: var(--red);
}


/* ----------------了解更多---------------------- */

.know-more {
    font-family: 'Noto Serif TC', serif;
    font-size: 2rem;
    font-weight: bold;
    /* margin-left: 5%; */
    position: relative;
    width: fit-content;
    transition: .5s;
    right: -20px;
}

/* 手機版 */
@media (max-width: 991px) {
    .know-more{
        right: 0;
    }
}

.know-more::before {
    content: '';
    display: block;
    position: absolute;
    background: url(../../images/common/ear_left_yellow.svg) 0 0 no-repeat;
    width: 18px;
    height: 18px;
    left: -25%;
    bottom: 23%;
    opacity: 1;
    transition: .3s;
}
.know-more::after {
    content: '';
    display: block;
    position: absolute;
    background: url(../../images/common/ear_right_yellow.svg) 0 0 no-repeat;
    width: 18px;
    height: 18px;
    right: -33%;
    bottom: 23%;
    opacity: 1;
    transition: .3s;
}

.know-more:hover {
    transform: scale(1.1,1.1);
}

.know-more:hover::after {
    content: '';
    display: block;
    position: absolute;
    background: url(../../images/common/ear_right_yellow.svg) 0 0 no-repeat;
    width: 18px;
    height: 18px;
    right: -33%;
    bottom: 23%;
    opacity: 0;
}

.know-more:hover::before {
    content: '';
    display: block;
    position: absolute;
    background: url(../../images/common/ear_left_yellow.svg) 0 0 no-repeat;
    width: 18px;
    height: 18px;
    left: -25%;
    bottom: 23%;
    opacity: 0;
}

    /* 啤酒百科介紹 */
    .knowledge-wrap{
        height: 80vh;
        position: relative;
    }

    .knowledge-intro-wrap{
        height: 80vh;
        margin-top: 5%;
    }

    .hop-bg{
        background: url(../../images/glori_images/hop-bg.svg)no-repeat center center;
        background-size: contain;
        position: relative;
        width: 100%;
    }

    .about-beer{
        width: 45%;
        margin: -10% 45% 45%;
    }

    .pipi-bubble{
        width: 80%;
        margin: 0 5%;
    }

    @media (max-width: 991px) {
    .hop-bg{
        width: 100%;
        margin-top: 75%;
        position: absolute;
        }

    .pipi-bubble{
        width: 70%;
        margin: 8% 10% 0 15%;
    }

    .about-beer{
        width: 42%;
        margin: -15% 50% 50%;
    }

    }
            /* 圈圈圖案 */
            .knowledge-title {
                background: url(../../images/common/h1_4_w.svg) no-repeat center left;
                background-size: contain;
    
            }
    
            /* 標題文字 */
            .knowledge-title p {
                color: #fff;
                font-family: 'Noto Serif TC', serif;
                font-weight: bold;
                font-size: 3.6rem;
                letter-spacing: 1.2rem;
                text-indent:1.2rem;
                width: fit-content;
                margin-left: 6px;
                position: relative;
            }
    
            /* 右邊雕飾 */
            .knowledge-title p::before {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                right:0;
                transform: translate(115%, -50%);
                width: 300px;
                height: 50%;
                background: url(../../images/common/line.svg) no-repeat center right;
                background-size: cover;
                overflow: hidden;
            }
    
            /* 手機版 改字和雕飾大小*/
        @media (max-width: 991px) {
    
            .knowledge-title{
                margin: 0 auto;
                background: url(../../images/common/h1_4_w.svg) no-repeat center center;
            }
    
            .knowledge-title p {
                font-size: 2.4rem;
                letter-spacing: 0.8rem;
                text-indent:0.8rem;
                margin: 0 auto;
            }
    
            .knowledge-title p::before {
                width: 90%;
                height: 40%;
                transform: translate(-115%, -50%);
            }
    
        }

    .knowledge-intro {
        margin: 5% 0;
        width: 90%;
        font-size: 1.7rem;
        text-align: justify;
        font-family: "Noto Sans TC", sans-serif;
        font-weight: 400;
        color: #fff;
        letter-spacing: 0.1rem;
        line-height: 3rem;
    }

    @media (max-width: 991px) {
        .knowledge-intro-wrap .knowledge-intro{
            margin: 0 auto;
            width: 100%;
            margin-top: 5%;
            
        }
        .knowledge-intro-wrap .txt-2{
            display: none;
        }

    }
/* 啤酒原料介紹 */

.four-ingre-wrap{
    height: 80vh;
    position: relative;
    margin: 0 auto;
}

.four-ingre-wrap .ingredient-intro {
    margin: 2% 0;
    width: 100%;
    font-size: 1.7rem;
    text-align: center;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.1rem;
    line-height: 3rem;
}

.four-ingre-wrap .four-ingre-row{
    margin: 0 auto;
}

.four-ingre-wrap .ingredient-wrap{
    margin: 0 auto;
    text-align: center;
}

.four-ingre-wrap .ingredient-title-sm{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4px solid var(--gold);
    position: relative;
    margin: 0 auto;
    vertical-align: middle;
}

.four-ingre-wrap .ingredient-title-sm .ingre-ch{
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 2.6rem;
    color: var(--gold);
    position: absolute;
    text-align: center;
    margin: 0 auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.four-ingre-wrap .ingredient-title-sm .ingre-en{
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 2.1rem;
    color: var(--gold);
    position: absolute;
    text-align: center;
    margin: 0 auto;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.four-ingre-wrap .ingre-txt {
    margin: 5% 0;
    width: 100%;
    font-size: 1.7rem;
    text-align: center;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.1rem;
    line-height: 3rem;
}


    /* 圈圈圖案 */
    .ingredient-title {
        background: url(../../images/common/h1_4_w.svg) no-repeat center center;
        background-size: contain;

    }

    /* 標題文字 */
    .ingredient-title p {
        color: #fff;
        font-family: 'Noto Serif TC', serif;
        font-weight: bold;
        font-size: 3.6rem;
        letter-spacing: 1.2rem;
        text-indent:1.2rem;
        width: fit-content;
        margin: 0 auto;
        position: relative;
    }

    /* 左邊雕飾 */
    .ingredient-title p::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-115%, -50%);
        width: 150px;
        height: 50%;
        background: url(../../images/common/h1_ear_left.svg) no-repeat center center;
        background-size: contain;

    }


    /* 右邊雕飾 */
    .ingredient-title p::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right:0;
        transform: translate(115%, -50%);
        width: 150px;
        height: 50%;
        background: url(../../images/common/h1_ear_right.svg) no-repeat center center;
        background-size: contain;

    }

    /* 手機版 改字和雕飾大小*/
@media (max-width: 991px) {
    .ingredient-title p {
        font-size: 2.4rem;
        letter-spacing: 0.8rem;
        text-indent:0.8rem;
    }

    .ingredient-title p::before {
        width: 60px;
        height: 32%;

    }

    .ingredient-title p::after {
        width: 60px;
        height: 32%;

    }

}




