body {
    background-color: #fff;
}

/* ------------------------------推薦商品------------------------------ */

.quiz-result-wrapper {
    width: 100%;
    background: url(../../images/common/bg/marble-bg.png);
    background-size: 100% auto;
    padding-bottom: 100px;
}

.result-info-wrap {
    text-align: center;
}

.result-info-wrap .result-title {
    color: var(--gold);
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 3.6rem;
}

.result-info-wrap .result-title span {
    font-size: 4.0rem;
    margin-top: -1%;
    display: block;
}

.result-info-wrap .result-info {
    padding: 2%;
    color: var(--blue);
    font-size: 2.0rem;
    text-align: justify;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    letter-spacing: 0.5rem;
    line-height: 3.6rem;
}

.quiz-result-wrap .share-title {
    color: var(--blue);
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 2.6rem;
    text-align: center;
}

/* 手機版 */

@media (max-width: 991px) {
    .quiz-result-wrap {
        padding-bottom: 50px;
    }
}

/* 標題(相關商品&商品評論) */

/* 圈圈圖案 */

.quiz-result-wrap .rpco-title {
    background: url(../../images/common/h1_4_b.svg) no-repeat center center;
    background-size: contain;
    margin: 100px 0 50px;
}

/* 手機版 */

@media (max-width: 991px) {
    .quiz-result-wrap .rpco-title {
        margin: 60px 0 40px;
    }
}

/* 標題文字 */

.quiz-result-wrap .rpco-title p {
    color: var(--blue);
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 3.6rem;
    letter-spacing: 1.2rem;
    text-indent: 1.2rem;
    width: fit-content;
    margin: 0 auto;
    position: relative;
}

/* 左邊雕飾 */

.quiz-result-wrap .rpco-title p::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-115%, -50%);
    width: 150px;
    height: 50%;
    background: url(../../images/common/h1_ear_left_b.svg) no-repeat center center;
    background-size: contain;
}

/* 右邊雕飾 */

.quiz-result-wrap .rpco-title p::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(115%, -50%);
    width: 150px;
    height: 50%;
    background: url(../../images/common/h1_ear_right_b.svg) no-repeat center center;
    background-size: contain;
}

/* 手機版 改字和雕飾大小*/

@media (max-width: 991px) {
    .quiz-result-wrap.quiz-result-wrap .rpco-title p {
        font-size: 2.4rem;
        letter-spacing: 0.8rem;
        text-indent: 0.8rem;
    }
    .quiz-result-wrap .rpco-title p::before {
        width: 60px;
        height: 32%;
    }
    .quiz-result-wrap .rpco-title p::after {
        width: 60px;
        height: 32%;
    }
}

/* 商品BOX */

.quiz-result-wrap .related-p {
    overflow: hidden;
}

/* 商品圖片 */

.quiz-result-wrap .related-p .pro-pic {
    width: 75%;
    min-width: 200px;
    max-width: 250px;
    background-color: #fff;
    margin: 0 auto;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
    position: relative;
}

.quiz-result-wrap .related-p .pro-pic>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* new標籤 */

.quiz-result-wrap .related-p .new-label {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    width: 40px;
    background-color: var(--blue);
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

/* hot標籤 */

.quiz-result-wrap .related-p .hot-label {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    width: 40px;
    background-color: var(--red);
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

/* 國家圖片 */

.quiz-result-wrap .related-p .pro-pic .country {
    width: 25px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

/* 收藏按鈕 */

.quiz-result-wrap .pro-pic .collect {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.quiz-result-wrap .btn_collect, .btn_collect_active, .btn_collect_nologin {
    background-color: transparent;
    border: none;
    color: var(--red);
    padding: 0;
    font-size: 24px;
    cursor: pointer;
    transition: .3s;
}

.quiz-result-wrap .btn_collect:hover, .btn_collect_active:hover, .btn_collect_nologin:hover {
    transform: scale(1.1, 1.1);
}

.quiz-result-wrap .btn_collect::after, .btn_collect_nologin::after {
    content: '加入收藏';
    display: block;
    position: absolute;
    top: -10px;
    left: -70%;
    font-size: 1.2rem;
    width: 250%;
    color: transparent;
    transition: .3s;
}

.quiz-result-wrap .btn_collect:hover::after, .btn_collect_nologin:hover::after {
    color: var(--red);
}

/* 商品介紹 */

.quiz-result-wrap .related-p .pro-intro {
    width: 100%;
    max-width: 320px;
    background-color: var(--gold);
    border-radius: 10px;
    margin: -20px auto 0;
    padding: 40px 20px 15px;
    height: 200px;
}

/* 手機版 改高度*/

@media (max-width: 991px) {
    .quiz-result-wrap .related-p .pro-intro {
        height: 180px;
    }
}

/* 品名 */

.quiz-result-wrap .related-p .p-name-c {
    line-height: 2rem;
}

.quiz-result-wrap .related-p .p-name-e {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: rgb(223, 223, 223);
}

/* 購買數量 */

.quiz-result-wrap .related-p .quantity {
    border: 1px solid #fff;
    padding: 0 15%;
}

.quiz-result-wrap .related-p .buy-number {
    font-size: 1.8rem;
    font-weight: 600;
    width: 50px;
    text-align: center;
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
}

.quiz-result-wrap .related-p .minus, .related-p .plus {
    cursor: pointer;
    transition: .3s;
}

.quiz-result-wrap .related-p .minus:hover, .related-p .plus:hover {
    color: var(--yellow);
}

/* 商品價格 */

.quiz-result-wrap .related-p .p-price {
    border: 1px solid #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
}

.quiz-result-wrap .related-p .p-price span {
    font-size: 1.4rem;
}

/* 加入購物車按鈕 */

.quiz-result-wrap .related-p .add-cart {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    transition: .3s;
    padding: 0 3px;
}

/* 手機版 */

@media (max-width: 991px) {
    .quiz-result-wrapper .result-title {
        font-size: 2.6rem;
    }
    .quiz-result-wrapper .result-title span {
        font-size: 3.0rem;
    }
    .quiz-result-wrapper .result-info {
        margin: 0 auto;
        width: 90%;
        font-size: 1.6rem;
        line-height: 3.0rem;
    }
    .quiz-result-wrap .related-p .add-cart {
        background-color: #fff;
        color: var(--gold);
    }
}

.quiz-result-wrap .related-p .add-cart i {
    margin-right: 8px;
}

.quiz-result-wrap .related-p .add-cart:hover {
    background-color: #fff;
    color: var(--gold);
}

/* 分享按鈕*/

.quiz-result-wrap .share-icons {
    justify-content: center;
}

.quiz-result-wrap .share-icons svg path {
    fill: var(--blue);
}

.quiz-result-wrap .fb, .quiz-result-wrap .line {
    margin-right: 8px;
}

.fb_iframe_widget {
    margin-right: 10px;
}

/* ----------------返回按鈕開始---------------------- */

.back-btn {
    font-family: 'Noto Serif TC', serif;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    width: fit-content;
    transition: .5s;
    margin: 0 auto;
    color: var(--gold);
}

.back-btn::before {
    content: '';
    display: block;
    position: absolute;
    background: url(../../images/common/ear_left_g.svg) 0 0 no-repeat;
    width: 18px;
    height: 18px;
    left: -25%;
    bottom: 23%;
    opacity: 1;
    transition: .3s;
}

.back-btn::after {
    content: '';
    display: block;
    position: absolute;
    background: url(../../images/common/ear_right_g.svg) 0 0 no-repeat;
    width: 18px;
    height: 18px;
    right: -33%;
    bottom: 23%;
    opacity: 1;
    transition: .3s;
}

.back-btn:hover {
    transform: scale(1.1, 1.1);
}

.back-btn:hover::after {
    content: '';
    display: block;
    position: absolute;
    background: url(../../images/common/ear_right_g.svg) 0 0 no-repeat;
    width: 18px;
    height: 18px;
    right: -33%;
    bottom: 23%;
    opacity: 0;
}

.back-btn:hover::before {
    content: '';
    display: block;
    position: absolute;
    background: url(../../images/common/ear_left_g.svg) 0 0 no-repeat;
    width: 18px;
    height: 18px;
    left: -25%;
    bottom: 23%;
    opacity: 0;
}

/* ------------------------------相關商品------------------------------ */

.quiz-result-wrap .related-comment-wrap {
    width: 100%;
    border-top: 25px solid var(--gold);
}

/* 手機版 */

@media (max-width: 991px) {
    .quiz-result-wrap .related-comment-wrap {
        padding-bottom: 50px;
    }
}

/* 標題(相關商品&商品評論) */

/* 圈圈圖案 */

.quiz-result-wrap .rpco-title {
    background: url(../../images/common/h1_4_b.svg) no-repeat center center;
    background-size: contain;
    margin: 100px 0 50px;
}

/* 手機版 */

@media (max-width: 991px) {
    .quiz-result-wrap .rpco-title {
        margin: 60px 0 40px;
    }
}

/* 標題文字 */

.quiz-result-wrap .rpco-title p {
    color: var(--blue);
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 3.6rem;
    letter-spacing: 1.2rem;
    text-indent: 1.2rem;
    width: fit-content;
    margin: 0 auto;
    position: relative;
}

/* 左邊雕飾 */

.quiz-result-wrap .rpco-title p::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-115%, -50%);
    width: 150px;
    height: 50%;
    background: url(../../images/common/h1_ear_left_b.svg) no-repeat center center;
    background-size: contain;
}

/* 右邊雕飾 */

.quiz-result-wrap .rpco-title p::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(115%, -50%);
    width: 150px;
    height: 50%;
    background: url(../../images/common/h1_ear_right_b.svg) no-repeat center center;
    background-size: contain;
}

/* 手機版 改字和雕飾大小*/

@media (max-width: 991px) {
    .quiz-result-wrap .rpco-title p {
        font-size: 2.4rem;
        letter-spacing: 0.8rem;
        text-indent: 0.8rem;
    }
    .quiz-result-wrap .rpco-title p::before {
        width: 60px;
        height: 32%;
    }
    .quiz-result-wrap .rpco-title p::after {
        width: 60px;
        height: 32%;
    }
}

/* 商品BOX */

.quiz-result-wrap .related-p {
    overflow: hidden;
}

/* 商品圖片 */

.quiz-result-wrap .related-p .pro-pic {
    width: 75%;
    min-width: 200px;
    max-width: 250px;
    background-color: #fff;
    margin: 0 auto;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
    position: relative;
}

.quiz-result-wrap .related-p .pro-pic:hover .beer-pic {
    opacity: .7;
}

.quiz-result-wrap .related-p .pro-pic .beer-pic {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: .6s;
}

/* 標籤 */

.quiz-result-wrap .related-p .label {
    position: absolute;
    top: 0;
    left: 0;
}

/* new標籤 */

.quiz-result-wrap .related-p .new-label {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    width: 40px;
    background-color: var(--blue);
    border-radius: 5px;
    margin-bottom: 5px;
}

/* hot標籤 */

.quiz-result-wrap .related-p .hot-label {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    width: 40px;
    background-color: var(--red);
    border-radius: 5px;
    margin-bottom: 5px;
}

/* 國家圖片 */

.quiz-result-wrap .related-p .pro-pic .country {
    width: 25px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

/* 收藏按鈕 */

/* 收藏按鈕 */
.quiz-result-wrap .pro-pic .collect {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.quiz-result-wrap .btn_collect, .btn_collect_active, .btn_collect_nologin {
    background-color: transparent;
    border: none;
    color: var(--red);
    padding: 0;
    font-size: 24px;  
    cursor: pointer; 
    transition: .3s;
}

.quiz-result-wrap .btn_collect:hover, .btn_collect_active:hover, .btn_collect_nologin:hover {
    transform: scale(1.1,1.1);
}

.quiz-result-wrap .btn_collect::after, .btn_collect_nologin::after {
    content: '加入收藏';
    display: block;
    position:absolute;
    top: -10px;
    left: -70%;
    font-size: 1.2rem;
    width: 250%;
    color: transparent;
    transition: .3s;
}

.quiz-result-wrap .btn_collect:hover::after , .btn_collect_nologin:hover::after {
    color: var(--red);
}

/* 商品介紹 */

.quiz-result-wrap .related-p .pro-intro {
    width: 100%;
    max-width: 320px;
    background-color: var(--gold);
    border-radius: 10px;
    margin: -20px auto 0;
    padding: 40px 20px 15px;
    height: 200px;
}

/* 手機版 改高度*/

@media (max-width: 991px) {
    .quiz-result-wrap .related-p .pro-intro {
        height: 180px;
    }
}

/* 品名 */

.quiz-result-wrap .related-p .p-name {
    transition: .6s;
}

.quiz-result-wrap .related-p .p-name:hover .p-name-c {
    color: var(--yellow);
}

.quiz-result-wrap .related-p .p-name-c {
    line-height: 2rem;
    transition: .6s;
}

.quiz-result-wrap .related-p .p-name-e {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: rgb(223, 223, 223);
}

/* 購買數量 */

.quiz-result-wrap .related-p .quantity {
    border: 1px solid #fff;
    padding: 0 15%;
}

.quiz-result-wrap .related-p .buy-number {
    font-size: 1.8rem;
    font-weight: 600;
    width: 50px;
    text-align: center;
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
}

.quiz-result-wrap .related-p .minus, .related-p .plus {
    cursor: pointer;
    transition: .3s;
}

.quiz-result-wrap .related-p .minus:hover, .related-p .plus:hover {
    color: var(--yellow);
}

/* 商品價格 */

.quiz-result-wrap .related-p .p-price {
    border: 1px solid #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
}

.quiz-result-wrap .related-p .p-price span {
    font-size: 1.4rem;
}

/* 加入購物車按鈕 */

.quiz-result-wrap .related-p .add-cart {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    transition: .3s;
    padding: 0 3px;
}

/* 手機版 */

@media (max-width: 991px) {
    .quiz-result-wrap .related-p .add-cart {
        background-color: #fff;
        color: var(--gold);
    }
}

.quiz-result-wrap .related-p .add-cart i {
    margin-right: 8px;
}

.quiz-result-wrap .related-p .add-cart:hover {
    background-color: #fff;
    color: var(--gold);
}

       /* animated animations */

       .animatable {
  
        /* initially hide animatable objects */
        visibility: hidden;
        
        /* initially pause animatable objects their animations */
        -webkit-animation-play-state: paused;   
        -moz-animation-play-state: paused;     
        -ms-animation-play-state: paused;
        -o-animation-play-state: paused;   
        animation-play-state: paused; 
      }
      
      /* show objects being animated */
      .animated {
        visibility: visible;
        
        -webkit-animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        -ms-animation-fill-mode: both;
        -o-animation-fill-mode: both;
        animation-fill-mode: both;
        
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        -ms-animation-duration: 1s;
        -o-animation-duration: 1s;
        animation-duration: 1s;
      
        -webkit-animation-play-state: running;
        -moz-animation-play-state: running;
        -ms-animation-play-state: running;
        -o-animation-play-state: running;
        animation-play-state: running;
      }
      
      /* CSS Animations (extracted from http://glifo.uiparade.com/) */
      @-webkit-keyframes fadeInDown {
          0% {
              opacity: 0;
              -webkit-transform: translateY(-20px);
          }	100% {
              opacity: 1;
              -webkit-transform: translateY(0);
          }
      }
      
      @-moz-keyframes fadeInDown {
          0% {
              opacity: 0;
              -moz-transform: translateY(-20px);
          }
      
          100% {
              opacity: 1;
              -moz-transform: translateY(0);
          }
      }
      
      @-o-keyframes fadeInDown {
          0% {
              opacity: 0;
              -o-transform: translateY(-20px);
          }
      
          100% {
              opacity: 1;
              -o-transform: translateY(0);
          }
      }
      
      @keyframes fadeInDown {
          0% {
              opacity: 0;
              transform: translateY(-20px);
          }
          100% {
              opacity: 1;
              transform: translateY(0);
          }
      }
      
      
      
      @-webkit-keyframes fadeIn {
          0% {
              opacity: 0;
          }
          20% {
              opacity: 0;
          }
          100% {
              opacity: 1;
          }
      }
      
      @-moz-keyframes fadeIn {
          0% {
              opacity: 0;
          }
          20% {
              opacity: 0;
          }
          100% {
              opacity: 1;
          }
      }
      
      @-o-keyframes fadeIn {
          0% {
              opacity: 0;
          }
          20% {
              opacity: 0;
          }
          100% {
              opacity: 1;
          }
      }
      
      @keyframes fadeIn {
          0% {
              opacity: 0;
          }
          60% {
              opacity: 0;
          }
          20% {
              opacity: 0;
          }
          100% {
              opacity: 1;
          }
      }
      @-webkit-keyframes bounceInLeft {
          0% {
              opacity: 0;
              -webkit-transform: translateX(-2000px);
          }
          60% {
              -webkit-transform: translateX(20px);
          }
      
          80% {
              -webkit-transform: translateX(-5px);
          }
      
          100% {
              opacity: 1;
              -webkit-transform: translateX(0);
          }
      }
      
      @-moz-keyframes bounceInLeft {
          0% {
              opacity: 0;
              -moz-transform: translateX(-2000px);
          }
      
          60% {
              -moz-transform: translateX(20px);
          }
      
          80% {
              -moz-transform: translateX(-5px);
          }
      
          100% {
              opacity: 1;
              -moz-transform: translateX(0);
          }
      }
      
      @-o-keyframes bounceInLeft {
          0% {
              opacity: 0;
              -o-transform: translateX(-2000px);
          }
      
          60% {
              opacity: 1;
              -o-transform: translateX(20px);
          }
      
          80% {
              -o-transform: translateX(-5px);
          }
      
          100% {
              opacity: 1;
              -o-transform: translateX(0);
          }
      }
      
      @keyframes bounceInLeft {
          0% {
              opacity: 0;
              transform: translateX(-2000px);
          }
      
          60% {
              transform: translateX(20px);
          }
      
          80% {
              transform: translateX(-5px);
          }
      
          100% {
              opacity: 1;
              transform: translateX(0);
          }
      }
      @-webkit-keyframes bounceInRight {
          0% {
              opacity: 0;
              -webkit-transform: translateX(2000px);
          }
      
          60% {
              -webkit-transform: translateX(-20px);
          }
      
          80% {
              -webkit-transform: translateX(5px);
          }
      
          100% {
              opacity: 1;
              -webkit-transform: translateX(0);
          }
      }
      
      @-moz-keyframes bounceInRight {
          0% {
              opacity: 0;
              -moz-transform: translateX(2000px);
          }
      
          60% {
              -moz-transform: translateX(-20px);
          }
      
          80% {
              -moz-transform: translateX(5px);
          }
      
          100% {
              opacity: 1;
              -moz-transform: translateX(0);
          }
      }
      
      @-o-keyframes bounceInRight {
          0% {
              opacity: 0;
              -o-transform: translateX(2000px);
          }
      
          60% {
              -o-transform: translateX(-20px);
          }
      
          80% {
              -o-transform: translateX(5px);
          }
      
          100% {
              opacity: 1;
              -o-transform: translateX(0);
          }
      }
      
      @keyframes bounceInRight {
          0% {
              opacity: 0;
              transform: translateX(2000px);
          }
      
          60% {
              transform: translateX(-20px);
          }
      
          80% {
              transform: translateX(5px);
          }
      
          100% {
              opacity: 1;
              transform: translateX(0);
          }
      }
      @-webkit-keyframes fadeInUp {
          0% {
              opacity: 0;
              -webkit-transform: translateY(20px);
          }	100% {
              opacity: 1;
              -webkit-transform: translateY(0);
          }
      }
      
      @-moz-keyframes fadeInUp {
          0% {
              opacity: 0;
              -moz-transform: translateY(20px);
          }
      
          100% {
              opacity: 1;
              -moz-transform: translateY(0);
          }
      }
      
      @-o-keyframes fadeInUp {
          0% {
              opacity: 0;
              -o-transform: translateY(20px);
          }
      
          100% {
              opacity: 1;
              -o-transform: translateY(0);
          }
      }
      
      @keyframes fadeInUp {
          0% {
              opacity: 0;
              transform: translateY(20px);
          }
      
          100% {
              opacity: 1;
              transform: translateY(0);
          }
      }
      @-webkit-keyframes bounceIn {
          0% {
              opacity: 0;
              -webkit-transform: scale(.3);
          }
          50% {
              -webkit-transform: scale(1.05);
          }
      
          70% {
              -webkit-transform: scale(.9);
          }
      
          100% {
              opacity: 1;
              -webkit-transform: scale(1);
          }
      }
      
      @-moz-keyframes bounceIn {
          0% {
              opacity: 0;
              -moz-transform: scale(.3);
          }
      
          50% {
              -moz-transform: scale(1.05);
          }
      
          70% {
              -moz-transform: scale(.9);
          }
      
          100% {
              opacity: 1;
              -moz-transform: scale(1);
          }
      }
      
      @-o-keyframes bounceIn {
          0% {
              opacity: 0;
              -o-transform: scale(.3);
          }
      
          50% {
              -o-transform: scale(1.05);
          }
      
          70% {
              -o-transform: scale(.9);
          }
      
          100% {
              opacity: 1;
              -o-transform: scale(1);
          }
      }
      
      @keyframes bounceIn {
          0% {
              opacity: 0;
              transform: scale(.3);
          }
      
          50% {
              transform: scale(1.05);
          }
      
          70% {
              transform: scale(.9);
          }
      
          100% {
              opacity: 1;
              transform: scale(1);
          }
      }
      @-webkit-keyframes moveUp {
          0% {
              opacity: 1;
              -webkit-transform: translateY(40px);
          }	100% {
              opacity: 1;
              -webkit-transform: translateY(0);
          }
      }
      
      @-moz-keyframes moveUp {
          0% {
              opacity: 1;
              -moz-transform: translateY(40px);
          }
      
          100% {
              opacity: 1;
              -moz-transform: translateY(0);
          }
      }
      
      @-o-keyframes moveUp {
          0% {
              opacity: 1;
              -o-transform: translateY(40px);
          }
      
          100% {
              opacity: 1;
              -o-transform: translateY(0);
          }
      }
      
      @keyframes moveUp {
          0% {
              opacity: 1;
              transform: translateY(40px);
          }
      
          100% {
              opacity: 1;
              transform: translateY(0);
          }
      }
      
      @-webkit-keyframes fadeBgColor {
          0%{
              background:none;
          }
        70%{
              background:none;
          }
          100%{
              background:#464646;
          }
      }
      @-o-keyframes fadeBgColor {
          0%{
              background:none;
          }
        70%{
              background:none;
          }
          100%{
              background:#464646;
          }
      }
      @keyframes fadeBgColor {
          0%{
              background:none;
          }
        70%{
              background:none;
          }
          100%{
              background:#464646;
          }
      }
      
      .animated.animationDelay{
          animation-delay:.4s;
          -webkit-animation-delay:.4s;
      }
      .animated.animationDelayMed{
          animation-delay:1.2s;
          -webkit-animation-delay:1.2s;
      }
      .animated.animationDelayLong{
          animation-delay:1.6s;
          -webkit-animation-delay:1.6s;
      }
      .animated.fadeBgColor {
          -webkit-animation-name: fadeBgColor;
          -moz-animation-name: fadeBgColor;
          -o-animation-name: fadeBgColor;
          animation-name: fadeBgColor;
      }
      .animated.bounceIn {
          -webkit-animation-name: bounceIn;
          -moz-animation-name: bounceIn;
          -o-animation-name: bounceIn;
          animation-name: bounceIn;
      }
      .animated.bounceInRight {
          -webkit-animation-name: bounceInRight;
          -moz-animation-name: bounceInRight;
          -o-animation-name: bounceInRight;
          animation-name: bounceInRight;
      }
      .animated.bounceInLeft {
          -webkit-animation-name: bounceInLeft;
          -moz-animation-name: bounceInLeft;
          -o-animation-name: bounceInLeft;
          animation-name: bounceInLeft;
      }
      .animated.fadeIn {
          -webkit-animation-name: fadeIn;
          -moz-animation-name: fadeIn;
          -o-animation-name: fadeIn;
          animation-name: fadeIn;
      }
      .animated.fadeInDown {
          -webkit-animation-name: fadeInDown;
          -moz-animation-name: fadeInDown;
          -o-animation-name: fadeInDown;
          animation-name: fadeInDown;
      }
      .animated.fadeInUp {
          -webkit-animation-name: fadeInUp;
          -moz-animation-name: fadeInUp;
          -o-animation-name: fadeInUp;
          animation-name: fadeInUp;
      }
      .animated.moveUp {
          -webkit-animation-name: moveUp;
          -moz-animation-name: moveUp;
          -o-animation-name: moveUp;
          animation-name: moveUp;
      }