.food-wrap {
    height: 80vh;
}



/* 天使+蓋子圖檔 */
.angel-img-wrap
{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* 盤子圖檔 */
.plate-img-wrap
{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* 現在我想來點 */
.food-left-text h2 {
    color: var(--gold);
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 3.6rem;
    letter-spacing: 1.2rem;
    text-indent:1.2rem;
    margin: 0 auto;
    text-align: center;
}



/* title:餐酒搭配 */
 /* 圈圈圖案 */
 .food-title {
    background: url(../../images/common/h1_4_w.svg) no-repeat center center;
    background-size: contain;
}

/* 標題文字 */
.food-title p {
    color: var(--white);
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 3.6rem;
    letter-spacing: 1.2rem;
    text-indent:1.2rem;
    width: fit-content;
    margin: 0 auto;
    position: relative;
}

/* 左邊雕飾 */
.food-title p::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-115%, -50%);
    width: 150px;
    height: 50%;
    background: url(../../images/common/h1_ear_left.svg) no-repeat center center;
    background-size: contain;

}


/* 右邊雕飾 */
.food-title p::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right:0;
    transform: translate(115%, -50%);
    width: 150px;
    height: 50%;
    background: url(../../images/common/h1_ear_right.svg) no-repeat center center;
    background-size: contain;

}

/*intro-餐酒搭配 */
.food-right-text  {
   width: 70%;
   margin: 0 auto;
   margin-top: 10%;
}

.food-right-text h2 {
    color: var(--white);
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 4.2rem;
    letter-spacing: 0.8rem;
    /* text-indent:1.2rem; */
    margin: 0 auto;
    text-align: justify;
}
/* span:pariage */
.mariage {
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 0.5rem;

}

.food-rule {
    margin-top: 100px;
}

/* title:啤酒與美食搭配三大原則 */

.rule-title-line h1 {
    font-family: 'Noto Serif TC', serif;
    color: var(--gold);
    text-align: center;
    font-weight: bold;
    font-size: 3.6rem;
    letter-spacing: 1.2rem;
    text-indent:1.2rem;
    max-width: 990px;
    margin: 0 auto;
    position: relative;
}
.rule-title-line h2 {
    font-family: 'Noto Serif TC', serif;
    color: var(--gold);
    text-align: center;
    font-weight: bold;
    font-size: 3.6rem;
    letter-spacing: 1.2rem;
    text-indent:1.2rem;
    max-width: 990px;
    margin: 0 auto;
    position: relative;
}

.rule-title-line h1::before {
    content: '';
    display: block;
    width: 350px;
    height: 2px;
    background: var(--gold);;
    left: 0;
    top: 50%;
    position: absolute;
}

.rule-title-line h1::after {
    content: '';
    display: block;
    width: 350px;
    height: 2px;
    background:var(--gold);;
    right: 0;
    top: 50%;
    position: absolute;

}


/* 手機版 改字和雕飾大小*/
@media (max-width: 991px) {

    .food-wrap {
        height: 200vh;
    }

    .food-banner.container {
        display: block;
    }

/*天使大小調整*/
    .angel-img-wrap
    {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
/*盤子大小調整 */
    .plate-img-wrap
    {
        width: 80%;
    }

    /* 現在我想來點 */
    .food-left-text h2 {
    font-weight: bold;
    font-size: 2.0rem;
    list-style: none;
    line-height: 2.8rem;
    letter-spacing: 0.6rem;
    text-indent:1.2rem;
    text-align: center ;

}

.food-title p {
    font-size: 2.4rem;
    letter-spacing: 0.8rem;
    text-indent:0.8rem;
}

.food-title p::before {
    width: 60px;
    height: 32%;

}

.food-title p::after {
    width: 60px;
    height: 32%;

}
/*intro-餐酒搭配 */
.food-right-text  {
    width: 80%;
    margin: 0 auto;
    margin-top: 10%;
 }

.food-right-text h2 {
    font-size: 1.8rem;
    line-height: 2.6rem;
   text-align: justify;
}


}
