   /* 品飲會 */
   /* 間距以margin-bottom(大標30，內文5，row 10，button 20)為主，其餘使用全域 */
   /* button長度125 */

   /* 0 */
   .event {
       /* 文字 */
       font-family: 'Noto Serif TC', serif;
   }

   .event i{
       margin-right:.25rem;
   }
/*  */

/* 1 */
   /* 2.banner */
   .event .event-banner {
       height: 55vh;
       width: 100%;
       overflow: hidden;
       position: relative;
       line-height: 1.5;
       letter-spacing: .25rem;
   }
   @media (max-width: 992px) {
    .event .event-banner p{
        margin-left:3rem;
    }

   .event .event-banner p:nth-of-type(1) {
       margin-top:40vh;
       
   }
}

   /* 2.1 */
   .event .event-banner .banner_bg {
       min-width: 1200px;
       max-width: 2000px;
       /* 圖片置中 */
       display: block;
       margin: auto;
       /*  */
       opacity: .25;
       transform: scale(1.5);
       /* 圖片置底 */
       position: absolute;
       bottom: 30%;
       /*  */
   }
   @media (max-width: 992px) {
    .event .event-banner .banner_bg {
        bottom: 40%;
    }
    }
    
   .event .event-banner .beer_mug {
   width: 250px;
    /* 圖片置中 */
    /* display: block; */
    /* display:none; */
    /* margin: auto; */
    /* 圖片置底 */
    position: absolute;
    bottom: -300px;

    /*  */
}

@media (max-width: 992px) {
    .event .event-banner .beer_mug {
   width: 150px;
        bottom: -280px;
        left:0%;
    }
    }

    .event .event-banner .beer_mug_b {
        width: 210px;
         /* 圖片置中 */
         display: block;
         margin: auto;
         /* 圖片置底 */
         position: absolute;
         bottom: -250px;
         left:14%;
         animation-name: beer_mug_b;
         animation-duration: 1s;
         animation-timing-function: linear;
         animation-fill-mode:forwards;
         animation-delay: 1s;
         /*  */

         -webkit-mask-image: linear-gradient( transparent 0%,transparent  20%,transparent 40%, transparent 60%,transparent 80%, transparent  100%)
     }

     @keyframes beer_mug_b {
        0% {
            bottom: -300px;
            -webkit-mask-image: linear-gradient( transparent 0%,transparent  20%,transparent 40%, transparent 60%,transparent 80%, #000  100%)
        }
    
        20% {
            -webkit-mask-image: linear-gradient( transparent 0%,transparent 20%,transparent 40%, transparent 60%,#000 80%, #000 100%);
        }

        40% {
            -webkit-mask-image: linear-gradient(transparent 0%,transparent  20%,transparent  40%, #000 60%,#000  80%, #000 100%);
        }

        60% {
            -webkit-mask-image: linear-gradient(transparent 0%,transparent 20%,#000 40%, #000 60%,#000 80%, #000 100%);
        }

        80% {
            -webkit-mask-image: linear-gradient(transparent 0%,#000  20%,#000  40%, #000 60%,#000  80%, #000 100%);
        }
    
        100% {
            bottom: -250px;
            left:14%;
            -webkit-mask-image: linear-gradient(#000 0%,#000 20%,#000 40%, #000 60%,#000 80%, #000 100%);
    
        }
    }

     @media (max-width: 992px) {
         .event .event-banner .beer_mug_b {
        width: 120px;
             bottom: -240px;
             left:9%;
         }

         @keyframes beer_mug_b {
            0% {
                bottom: -300px;
                -webkit-mask-image: linear-gradient( transparent 0%,transparent  20%,transparent 40%, transparent 60%,transparent 80%, #000  100%)
            }
        
            20% {
                -webkit-mask-image: linear-gradient( transparent 0%,transparent 20%,transparent 40%, transparent 60%,#000 80%, #000 100%);
            }
    
            40% {
                -webkit-mask-image: linear-gradient(transparent 0%,transparent  20%,transparent  40%, #000 60%,#000  80%, #000 100%);
            }
    
            60% {
                -webkit-mask-image: linear-gradient(transparent 0%,transparent 20%,#000 40%, #000 60%,#000 80%, #000 100%);
            }
    
            80% {
                -webkit-mask-image: linear-gradient(transparent 0%,#000  20%,#000  40%, #000 60%,#000  80%, #000 100%);
            }
        
            100% {
                bottom: -240px;
                left:9%;
                -webkit-mask-image: linear-gradient(#000 0%,#000 20%,#000 40%, #000 60%,#000 80%, #000 100%);
        
            }
        }
         }
     
    .event .event-banner .pipi_beer {
        width: 440px;
         /* 圖片置中 */
         display: block;
         margin: auto;
         /* 圖片置底 */
         position: absolute;
         bottom: -260px;
         left:250px;
         /*  */
     }
     @media (max-width: 992px) {
         .event .event-banner .pipi_beer {
        width: 260px;
             bottom: -250px;
             left:140px;
         }
         }

         .event .event-banner .pipi_beer_b {
            width: 240px;
             /* 圖片置中 */
             display: block;
             margin: auto;
             /* 圖片置底 */
             position: absolute;
             bottom: -200px;
             left:210px;
             /* opacity:0; */
             animation-name: pipi_beer_b;
             animation-duration: 1.15s;
             animation-timing-function: linear;
            animation-fill-mode:forwards;
            animation-delay:1s;
             /*  */
             -webkit-mask-image: linear-gradient(-30deg, transparent 0%,transparent  20%,transparent 40%, transparent 60%,transparent 80%, transparent 100%);
         }

         @keyframes pipi_beer_b {
            0% {
                bottom: -300px;
             left:300px;
                -webkit-mask-image: linear-gradient(-30deg, #000 0%,transparent  20%,transparent 40%, transparent 60%,transparent 80%, transparent 100%);
            }
    
            20% {
                -webkit-mask-image: linear-gradient(-30deg, #000 0%,#000 20%,transparent 40%, transparent 60%,transparent  80%, transparent 100%);
            }

           40% {
                -webkit-mask-image: linear-gradient(-30deg, #000 0%,#000 20%,#000 40%, transparent  60%,transparent  80%, transparent 100%);
            }

           60% {
                -webkit-mask-image: linear-gradient(-30deg, #000 0%,#000 20%,#000 40%, #000 60%,transparent  80%, transparent 100%);
            }

            80% {
                -webkit-mask-image: linear-gradient(-30deg,#000  0%,#000  20%,#000  40%, #000 60%,#000  80%, transparent 100%);
            }
        
            100% {
                bottom: -200px;
             left:210px;
             -webkit-mask-image: linear-gradient(-30deg,#000 0%,#000 20%,#000 40%, #000 60%,#000 80%, #000 100%);

            }
        }
         @media (max-width: 992px) {
             .event .event-banner .pipi_beer_b {
            width: 140px;
                 bottom: -210px;
                 left: 120px;
             }

             @keyframes pipi_beer_b {
                0% {
                    bottom: -310px;
                 left:200px;
                 -webkit-mask-image: linear-gradient(-30deg, #000 0%,transparent  20%,transparent 40%, transparent 60%,transparent 80%, transparent 100%);
                }
            
                20% {
                    -webkit-mask-image: linear-gradient(-30deg, #000 0%,#000 20%,transparent 40%, transparent 60%,transparent  80%, transparent 100%);
                }
    
                40% {
                    -webkit-mask-image: linear-gradient(-30deg, #000 0%,#000 20%,#000 40%, transparent  60%,transparent  80%, transparent 100%);
                }
    
                60% {
                    -webkit-mask-image: linear-gradient(-30deg, #000 0%,#000 20%,#000 40%, #000 60%,transparent  80%, transparent 100%);
                }
    
                80% {
                    -webkit-mask-image: linear-gradient(-30deg,#000  0%,#000  20%,#000  40%, #000 60%,#000  80%, transparent  100%);
                }
            
                100% {
                    bottom: -210px;
                    left: 120px;
                    -webkit-mask-image: linear-gradient(-30deg,#000 0%,#000 20%,#000 40%, #000 60%,#000 80%, #000 100%);
    
                }
             }    
            }       


   /* 2.2 */
   .event .event-banner:nth-of-type(2){
       margin-top: 30px;
   }
   /* 2.2.1 */
   .event .event-banner p {
       /* 文字 */
       color: var(--gold);
       font-size: 3.5rem;
       font-weight: bold;
       /* 位置 */
       /* margin-left: 15%; */
       margin-top: 25vh;
       white-space: nowrap;
       /* top: 30%; */
       left: 3%;
   }

   @media (max-width: 992px) {
    .event .event-banner p {
        top: 110px;
        left: 6%;
    }
    }

    .title_anime{
        color: var(--gold);
       font-size: 3.5rem;
       font-weight: bold;
    }
 /*  */

 /* 3.content */
   .event .event-content {
       line-height: 1.5;
       letter-spacing: .25rem;
       overflow: hidden;
   }
   /* 3.1.title */
   .event .event-content .title {
       margin: auto;
       margin-bottom: 30px;
       position: relative;
   }
   /* title-line */
   .event .event-content .title:before {
    content: '';
    display: block;
    position: absolute;
    background-color: white;
    width:100vw;
    /* max-width: 495px; */
    height:1px;
    left: 135px;
    bottom: 46%;
}

.event .event-content .title:after {
    content: '';
    display: block;
    position: absolute;
    background-color: white;
    width:100vw;
    /* max-width: 495px; */
    height:1px;
    right: 135px;
    bottom: 46%;
}


@media (max-width: 992px) {
    .event .event-content .title:before {
        /* width:30vw; */
        left: 120px;
    }
   .event .event-content .title:after {
    /* width:30vw; */
    right: 120px;
}
}
@media (max-width: 992px) {
    .event .event-content .title:after {

    }
    }
    /* title-content */
   .event .event-content .title p {
       font-family: 'Noto Serif TC', serif;
       font-size: 2.5rem;
       font-weight: 600;
       position: relative;
       width: fit-content;
   }
   .event .event-content .title p:before {
       content: '';
       display: block;
       position: absolute;
       background: url(../../images/common/ear_left.svg) 0 0 no-repeat;
       width: 18px;
       height: 18px;
       left: -25%;
       bottom: 23%;
   }
   .event .event-content .title p:after {
       content: '';
       display: block;
       position: absolute;
       background: url(../../images/common/ear-right.svg) 0 0 no-repeat;
       width: 18px;
       height: 18px;
       right: -30%;
       bottom: 23%;
   }
    /*  */

    /*3.2.event-card  */
    /* .event-cards{
        display: flex;
        flex-direction: column-reverse;
    }  */

   .event .event-content .event-card {
       min-height: 280px;
       margin: auto;
       margin-bottom: 30px;
       max-width: 1150px;   
       width: 90%;
       font-family: 'Noto Sans TC', sans-serif;
       color: #888;
       letter-spacing: .1rem;
       font-size: 1.4rem;
       background-color: white;
       /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4); */
   }



/* 3.2.1.banner */
   .card-banner {
/* min-width: 320px; */
}

/* 3.2.2.content */
   .event .event-content .event-card .card-content {
       margin-top: 15px;
    padding:15px;
    list-style: none;
       }

    .event .event-content .event-card .card-content .row{
     margin-bottom: 10px;
    padding-left:15px;
     padding-right: 15px; 
                   }
/* 3.2.2.1.時間，地點 */
       .event .event-content .event-card .card-content .row:nth-of-type(1) {
white-space: nowrap;
           }
   .event .event-content .event-card .card-content .time {
color:#aaa;
   }
   .event .event-content .event-card .card-content .location {
    color:var(--gold);
       }
/* 3.2.2.2.標題+簡介 */
       .event .event-content .event-card .card-content .intro p:nth-of-type(1){color:var(--gold);
        font-weight: bold;
        font-size: 2rem;
        text-align: justify;
        margin-bottom: 5px;
       }
       .event .event-content .event-card .card-content .intro p:nth-of-type(2){
        text-align: justify;
        font-size: 1.6rem;
        margin-bottom: 20px;
       }
/* 3.2.2.3.剩餘名額，瀏覽人次 */
.event .event-content .event-card .card-content .row:nth-of-type(3){
    margin-bottom: 40px;
}
.event .event-content .event-card .card-content .quota{
    white-space: nowrap;
    font-family: 'Noto Sans TC', sans-serif;
       }
       .event .event-content .event-card .card-content .review{
        color:white;
        background-color: #000;
        text-align: center;
        opacity: .75;
        border-radius: 5px;
        padding: 5px;
        padding-right:10px;
        padding-left:10px;
        white-space: nowrap;
    }


    /* 3.2.2.4.按鈕：加入關注，立即報名 */
       .event .event-content .event-card .card-content .row:nth-of-type(4) {
        font-family: 'Noto Serif TC', serif;
        padding:0;
        margin-bottom: 20px;
        padding-left:15px;
        }
        @media (max-width: 991px) {
        .event .event-content .event-card .card-content .container .row:nth-of-type(4) {
        margin-bottom: 70px;
        }
        }

 /*3.2.3.card-deco */
 .event .event-content .event-card .card-deco-phone{
     width: 90%;
     height:50px;
     position: relative;
     overflow: hidden;  
 }

 .event .event-content .event-card .card-deco-phone .deco-line{
    width: 100%;
    height:50px;
    position: absolute;
    left:50%;
    transform: translateX(-50%) scaleX(3.5);
    border-top:1px dashed var(--blue);

 }
 .event .event-content .event-card .card-deco-phone .cut{
     position: absolute;
     bottom: -1px;
     left:50%;
     transform: translateX(-50%);
    width:50px;
    height:25px;
    margin: auto;
    overflow: hidden;
}

 .event .event-content .event-card .card-deco-phone .cut .circle{
     background-color: var(--blue);
     width:50px;
     height:50px;
     border-radius: 50% ;
     margin: auto;
 }

 @media (min-width: 992px) {

    .card-deco-phone{
        display: none;
    }
    .card-deco-pc{
        display:block;
        min-width: 100px;
        height: 100px;
        position: relative;
        transform: rotate(270deg) translateY(20px);
    }
    /* 3.2.3.1.line */
    .card-deco-pc .deco-line{
       width: 100%;
       height:50px;
       position: absolute;
       left:50%;
       transform: translateX(-50%) scaleX(3.5);
       border-top:1px dashed var(--blue);
       margin-left: 0;
   
    }
    /* 3.2.3.2.cut */
    .card-deco-pc .cut{
        position: absolute;
        bottom: -1px;
        left:50%;
        transform: translateX(-50%)translateY(-20px);
       width:50px;
       height:25px;
       margin: auto;
       overflow: hidden;
   }
   .card-deco-pc .cut .circle{
        background-color: var(--blue);
        width:50px;
        height:50px;
        border-radius: 50% ;
        margin: auto;
    }}

