    /* 品飲會-join */
   /* 間距以margin-bottom(大標30，內文5，row 10，button 20)為主，其餘使用全域 */
   /* button長度125 */
   /* title前一個區塊margin-bottom:50px */
 /* 0 */

.join{
    letter-spacing: .25rem;
}


/*webkit瀏覽器專用*/
.join form  ::-webkit-input-placeholder { letter-spacing: .25rem; }
/*Firefox 4-18瀏覽器專用*/
.join form  input::-moz-placeholder { letter-spacing: .25rem; }
/*Firefox 19+瀏覽器專用*/
.join form  input::-moz-placeholder{letter-spacing: .25rem;}
/*IE10瀏覽器專用*/
.join form :-ms-input-placeholder{letter-spacing:.25rem;}


/* 1 */
   /* 2.banner */
   .join .event-banner {
    min-height:350px;
    /* max-height:600px; */
    background-image:url(../../images/event/event_3_b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width:100%;
    position: relative;
   }
   @media (max-width: 577px) {
   .join .event-banner {
    background-image:url(../../images/event/event_3_s.jpg);
   }
   }


/* 2.1. */
   .join .event-banner .row{
       margin:0;
        position: absolute;
        transform: translate(-50%) ;
        bottom:0%;
        left:50%;
        width:100%;
       height:40%;
       background: linear-gradient(rgba(22, 61, 80, 0) 2%, #163d50 75%, #163d50 100%);
    padding: 30px;
   }
   @media (min-width: 992px) {
    .join .event-banner {
        background-size: contain;
    } 
    .join .event-banner .row{
        padding-right: 100px;
    }
   }

   /* 3.content */
   .join .event-content {
       line-height: 1.5;
       max-width: 1075px;
       /* letter-spacing: .25rem; */
   }
   /* 3.1.title */
   .join .event-content .name {
       font-weight: 600;
       text-align: center;
       font-size: 3rem;
       margin: auto;
       margin-bottom: 30px;
   }
    hr{
        border-top: 1px solid white;
   }


   .join .timelocation{
       margin-bottom: 20px;
   }

   .join .time,.join .location {
    padding-bottom: 20px;
}

   .join .event-content .time .row{
       padding-left:15px;
   }

   .join .t1{
    font-family: 'Noto Serif TC', serif;
    color:var(--gold);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
 }

 .join .t1-i{
    font-family: 'Noto Serif TC', serif;
    color:var(--gold);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
 }

 .join .t1-c{
font-family:'Noto Sans TC', sans-serif;
font-size:1.8rem;
padding-left:20px;
font-weight:normal;
 }
 .join .t1-c span{
    font-size:1.4rem;
    color:#aaa;
 }

/* serve */

 .join .serve{
     border:1px solid var(--gold);
     position: relative;
     padding-top: 30px;
     padding-bottom: 30px;
     margin-bottom: 50px;
     /* min-width: 550px; */
     max-width: 550px;

 }

 .join .serve .t1{
    white-space: nowrap;
    background-color: var(--blue);
    position: absolute;
    transform: translateX(-50%);
    top: -15px;
    left:50%;
    padding-left: 15px;
    padding-right: 15px;
}

.join .serve .product{
    /* min-width: 250px; */
    max-width: 250px;
}

/* @media (max-width: 992px) {
    .join .serve{
        min-width:auto;
    }

    .join .serve .product{
        min-width:auto;
    }

    .join .serve .product .product-name{
        
        max-width:50px;
    }
} */

.join .serve .product img{
max-height:25vh;
object-fit: contain;
margin-bottom:10px;
position: relative;
}
.join .serve .product-img{
    position: relative;
}


.join .serve .product-img:before{
    content: '';
    display: block;
    position: absolute;
    background: url(../../images/country/flag_australia_circle.svg) 0 0 no-repeat;
    width:100px;
    height: 100px;
    transform: translate(-50%);
    left: 30%;
    bottom: 50%;
    }


.join .serve .product .product-name{
    font-family: 'Noto Sans TC',sans-serif;
    text-align: center;
    font-weight:500;
    font-size:1.6rem;
    line-height:1.75;
    margin-bottom:10px;
    /* min-width: 250px; */
    max-width: 250px;
    }


    .join .serve .product .know-more{
    margin:auto;
transform: scale(.75);
    }

    .join .serve .product .know-more:hover{
        margin:auto;
    transform: scale(1);
        }

    .join .intro-content{
        font-family: 'Noto Sans TC',sans-serif;
        text-align: justify;
        line-height:2.25;
        padding-left:30px;
        /* margin-bottom:50px; */
        font-weight: 300;
    } 

 .join .block{
    height:40px;
    font-family: 'Noto Sans TC',sans-serif;
    text-align: center;
    white-space: nowrap;
    color: white;
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 0.15rem;
    background-color:transparent;
    border: 1.5px solid var(--gold);
    line-height: 2;
    margin:10px;
 }

 .join .memo{
    font-family:'Noto Sans TC',sans-serif;
    font-size: 1.4rem;
    color:#aaa;
    font-weight:400;
    line-height: 1.5;
    text-align: justify;
    /* margin-left: 27px; */
}

 .join .memo-ml{

    margin-left: 45px;
}

.join .overview{
max-width: 1000px;
   text-align: justify;
   color: white;
   font-size: 2rem;
   font-weight: normal;
   letter-spacing: 0.15rem;
   background-color:transparent;
   border: 4px double var(--gold);
   line-height: 1.75;
   margin:auto;
   margin-top:30px;
   margin-bottom:50px;
   padding-top:10px;
   padding-bottom:10px;
   padding-left: 15px;
   padding-right:15px;
}

.join .event-intro {
    line-height: 1.5;
    max-width: 1150px;
    margin-bottom: 50px;
    overflow: hidden;

    /* letter-spacing: .25rem; */
}
/* 3.1.title */
.join .title {
    margin: auto;
    margin-bottom: 30px;

    position: relative;
}
/* title-line */
.join .title:before {
 content: '';
 display: block;
 position: absolute;
 background-color: white;
 width:37.5vw;
 max-width: 545px;
 height:1px;
 left: 135px;
 bottom: 46%;
}

.join .title:after {
    content: '';
    display: block;
    position: absolute;
    background-color: white;
    width:37.5vw;
    max-width:545px;
    height:1px;
    right:135px;
    bottom: 46%;
   }
@media (max-width: 992px) {
 .join .title:before {
     width:30vw;
     left: 120px;
 }

 .join .title:after {
    width:30vw;
    right: 120px;
}
 }
 /* title-content */
.join .title p {
    font-family: 'Noto Serif TC', serif;
    font-size: 2.5rem;
    font-weight: 600;
    position: relative;
    width: fit-content;
}
.join .title p:before {
    content: '';
    display: block;
    position: absolute;
    background: url(../../images/common/ear_left.svg) 0 0 no-repeat;
    width: 18px;
    height: 18px;
    left: -25%;
    bottom: 23%;
}
.join .title p:after {
    content: '';
    display: block;
    position: absolute;
    background: url(../../images/common/ear-right.svg) 0 0 no-repeat;
    width: 18px;
    height: 18px;
    right: -30%;
    bottom: 23%;
}

/* 活動地點 */

.event-map .title p:before, .event-map .title p::after{
    bottom: 27%;
}


.event-map {
    font-family: 'Noto Sans TC',sans-serif;
    margin-bottom:50px;
    max-width:1075px;
    overflow: hidden;
}

.event-map .address, .event-map iframe {
    width:100%;
    text-align: center;
}

.event-map .address{
    margin-top:-25px;
    margin-bottom:5px;
}

.event-map iframe{
    height:50vh;
}

/* 報名活動 */
.event-join-sign .title p:before, .event-join-sign .title p:after{
    bottom: 27%;
}


.event-join-sign{
    font-family: 'Noto Sans TC',sans-serif;
    max-width:1200px;
    overflow: hidden;
}

.event-join-sign form{
margin-top: -25px;
}


.event-join-sign .form-title{
margin-bottom: 5px;
}

.event-join-sign input, select{
    height:30px;
    margin-bottom:10px;
}

.event-join-sign select{
    width:100%;
    margin-bottom:15px;
}

.event-join-sign .memo{
margin-top:-5px;
margin-bottom:15px;
}

.event-join-sign .memo:nth-of-type(2),.event-join-sign .memo:nth-of-type(3){
    padding-left: 45px;
    }

.event-join-sign .form-title-s {
     /* white-space: nowrap; */
    }

.event-join-sign .form-title{
    /* padding-right: 8%; */
    }
.event-join-sign .form-title img{
    height:30px;
    object-fit: contain;
    width:80px;
    margin-left:10px;
    margin-right:10px;
    }

    .event-join-sign .checkCode{
/* width: 100px; */
    }

.event-join-sign .form-title input{
    max-width:100%;

}

.event-join-sign .form-title-s {
    /* padding-right: 8%; */
}

.event-join-sign .form-title-s input{
    width:100%;
}

.join .number_big{
transform: scale(2);
color:var(--yellow);
font-size: 2rem;
margin-left: 3px;
margin-right: 3px;
}


.join .memo-check{
    text-align: justify;
    margin-bottom: 50px;
    /* margin-left: 50px; */
}

.join .memo-check input{
height:auto;
}

.join .gold-line-wrap{
position: relative;
}

.join .gold-line, .gold-line-2{
    /* width:92%; */
    border-top:1px solid var(--gold);

}

.join .gold-line:before{
    content: '▲';
    display: block;
    position: absolute;
    color: var(--gold);
    /* width:100%; */
    left:50%;
    top:-20px;
}

.join .btn_join_size_full{
    max-width:100%;
}

.join .one,.join .two{
    position: relative;
    margin-left:25px;
}

.join .one:before{
    content: '';
    display: block;
    position: absolute;
    background: url(../../images/event/SVG/one.svg) 0 0 no-repeat;
    opacity: .5;
    width:22.5px;
    height: 60px;
    transform: translate(-50%);
    left: -10px;
    top: 10px;
    

}


.join .two:before{
    content: '';
    display: block;
    position: absolute;
    background: url(../../images/event/SVG/two.svg) 0 0 no-repeat;
    opacity: .5;
    width:27.5px;
    height: 60px;
    transform: translate(-50%);
    left: -10px;
    top: 10px;
}

/* 活動花絮 */
.join .event_review{
    overflow: hidden;
}

.join .photo1,.join .photo2,.join .photo3,.join .photo4,.join .photo5{
position: relative;
}
.join .photo1:before{
    content: '';
    display: block;
    position: absolute;
    background: url(../../images/event/SVG/event_photo_deco_1.svg) 0 0 no-repeat;
    width: 45%;
    height: 45%;
    transform: translateX(0%) translateY(0%) ;
    left: -5%;
    top: -5%;
    z-index:10;
}

.join .photo2:before{
    content: '';
    display: block;
    position: absolute;
    background: url(../../images/event/SVG/event_photo_deco_4.svg) 0 0 no-repeat;
    width: 35%;
    height: 35%;
    transform: translateX(0%) translateY(0%);
    right: -8%;
    bottom: 35%;
    z-index:10;
}

.join .photo3:before{
    content: '';
    display: block;
    position: absolute;
    background: url(../../images/event/SVG/event_photo_deco_2.svg) 0 0 no-repeat;
    width: 60%;
    height: 60%;
    transform: translateX(0%) translateY(0%) ;
    right: -10%;
    top: -20%;
    z-index:10;
}

.join .photo4:before{
    content: '';
    display: block;
    position: absolute;
    background: url(../../images/event/SVG/event_photo_deco_5.svg) 0 0 no-repeat;
    width: 50%;
    height: 50%;
    transform: translateX(0%) translateY(0%) ;
    left: -20%;
    top: -5%;
    z-index:10;
}

.join .photo5:before{
    content: '';
    display: block;
    position: absolute;
    background: url(../../images/event/SVG/event_photo_deco_3.svg) 0 0 no-repeat;
    width: 50%;
    height: 50%;
    transform: translateX(50%) translateY(0%) ;
    right: -5%;
    bottom: 37%;
    z-index:10;
}

/* .cant_copy{
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none;
} */





