footer {
    width: 100%;
    background-color: var(--blue);
    border-top: 25px solid var(--gold);
    padding-top: 50px;
    padding-bottom: calc( 10vh + 10px);
    font-family: 'Noto Serif TC', serif;
}

footer .footer-brand p {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    width: fit-content;
    margin: 0 auto;
    position: relative;

}


footer .footer-brand p::after {
    content: '';
    display: block;
    position: absolute;
    left:-145px;
    margin-top: 10px;
    width: 350px;
    height: 20px;
    background: url(../../images/common/line.svg) no-repeat center center;
}

footer .brand-logos {
    width: 80%;
    max-width: 1200px;
    margin: 100px auto 150px;

}

footer .footer-share p{
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    width: fit-content;
    margin: 50px auto 0;
    position: relative;

}

footer .footer-share p::before {
    content: '';
    display: block;
    position: absolute;
    width: 330%;
    height: 250%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: url(../../images/common/frame-sun.svg);
}

footer .sns-logos {
    width: 25%;
    max-width: 300px;
    min-width: 250px;
    margin: 20px auto;
}

footer .sns-logo-icon {
    width: 20%;
    padding: 10px;
    
}

footer .sns-logo-icon img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

footer .copyright {
    text-align: center;
    font-size: 1.2rem;
}




