.LogIn-Sign{
    display: none;

}

.LogIn-Sign{

    position: fixed;
    height:calc(100vh - 85px);
    width: 100%;
    z-index: 996;  
    /* pointer-events: none; */
}
   

.LogIn-Sign .log-wrap{
    
    position: relative;
    display: flex;
    /* display: none; */
    justify-content: center;
    align-items: center;
    height:calc(100vh - 85px); 
    width: 100%;
}




.LogIn-Sign .log-sandbox{
    width: 100%;
    height:calc(100vh - 85px); 
 
}
   
.LogIn-Sign .log-box{

    overflow-y: auto;
    position: absolute;
    z-index: 989;
    border:solid 3px var(--gold);
    border-radius: 15px;
   
    margin-top: -80px;
    background-color: white;
    box-shadow: 0 0 0 1920px rgba(0, 0, 0, .5);
    /* 起始頁大小 */
      width: 35%; 
      height: 60%;
      min-height: 494px;
    
    
    /* 登入頁大小 */
    /* width: 35%; 
    height: 60%;
    min-height: 494px; */
   
  

    /* 註冊大小 */
    /* width: 50%;
    height: 86% ;
    min-height: 250px; */



    /* 驗證頁大小 */
     /* width: 35%; 
     height: 60%;
     min-height: 494px; */
    
    
    /* 載入中 */
    /* width: 30%; 
    height: 20%;
    min-height: 300px;  */


    /* 註冊成功大小 */
     /* width: 40%; 
     height: 60%;
     min-height: 500px; */

    
    /* 忘記密碼step1 */
    /* width: 35%; 
    height: 65%;
    min-height: 550px; */
    
    /* 忘記密碼step2 */
    /* width: 35%; 
    height: 65%;
    min-height: 500px; */




    
}

@media (max-width: 991px) {

    .LogIn-Sign .log-box{

        max-width: 338px;
        margin-top: -100px;
        width: 90%;
        height: 60%;
        min-height: 460px;

        /* 載入中rwd */
        /* width: 60%;
        height: 40%;
        min-height: 210px; */

        /* 註冊完成 */
        /* width: 90%;
        height: 65%;
        min-height: 473px;
         */


         /* 忘記密碼step1 */
        /* width: 90%;
        height: 75%;
        min-height: 473px; */
        
        
        /* 忘記密碼step2 */
        /* width: 90%;
        height: 50%;
        min-height: 460px; */
        

    }

}


.LogIn-Sign .log-box::-webkit-scrollbar { width: 0 !important }

.LogIn-Sign .logo-wrap{
    margin: 20px auto;
    width: 100px;    
    transform: translateX(-1px);
}

.LogIn-Sign .cancel-quit{
    cursor: pointer;
    position: absolute;
    color: var(--gold);
    top: 0;
    right: 15px;

}
.LogIn-Sign .log-content{
    width: 100%;
}

/* //////起始畫面////// */
.LogIn-Sign .first-content{
    margin: 20px auto;
    width: 100%;
}

.LogIn-Sign .first-content h3{
    text-align: center;
    color: var(--blue);
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 2.4rem;
    letter-spacing: 0.8rem;
    line-height: 3rem;
    /* margin-left: 30px; */

}

.LogIn-Sign .login-title{
    margin: 0 auto;
    width: 60%;
    border-bottom: solid 2px var(--blue);
    

}
.LogIn-Sign .login-title h4{
    margin: 0 auto;
    width: 40%;
    color: var(--blue);
    font-family: 'Noto Sans TC', serif;
    text-align: center;
    background-color: white;
    transform: translateY(10px);

}

@media (max-width: 991px) {

    .LogIn-Sign .login-title h4{
        width: 70%;
        transform: translateY(8px);
        

    }
    .fb-01{
        transform: translateY(-3px);
    }

}

.LogIn-Sign .social-icon{
    cursor: pointer;

}

.LogIn-Sign .fb-01{
    margin: 35px auto 15px auto;
    width: 50px

}
.LogIn-Sign .LogInOut-btn-warp{
    margin-top: 50px;
    justify-content: center;
}
.LogIn-Sign .log-btn{
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Noto Sans TC', serif;
    margin: 0 10px;
    text-align: center;
    
    width: 150px;
    height: 35px;
    background-color: var(--gold);
}


@media (max-width: 991px) {
    .LogIn-Sign .log-btn{
      
        width: 120px;


    }



}

/* //////登入畫面/////// */

.LogIn-Sign .LogIn-box{
    transition: .5s;
    width: 40%;
    height: 550px;
    margin-top: -60px;

}

.LogIn-Sign .LogIn-page{
    display: none;
}

.LogIn-Sign .LogIn-title h3{
    text-align: center;
    color: var(--blue);
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 2.4rem;
    letter-spacing: 0.8rem;
    line-height: 3rem;
}


.LogIn-Sign .LogIn-content-wrap{
    width: 60%;
    margin: 0 auto;
}
.LogIn-Sign .input-account{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 30px;
    
}

.LogIn-Sign .input-btn{

    width: 100%;
    height: 35px;
    padding-left:35px;
    color: var(--gold);
    border: solid 1px var(--gold);
    border-radius: 5px;
}

.LogIn-Sign .warn{
    color : var(--pink);
}


.LogIn-Sign .warn-text{
    color :  #7F7F7F;
}

.LogIn-Sign .warn-suscess{
    display: none;
    color: var(--blue);
}











.LogIn-Sign ::placeholder{
    font-size: 1.6rem;
    color: var(--gold);
    letter-spacing: 0.25rem;
       
}


.LogIn-Sign .user-icon01{
    position: absolute;
    color: var(--gold);
    top: 30%;
    left: 3%;

}


.LogIn-Sign .input-password{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 10px;
    
}

.LogIn-Sign .lock-icon01{
    position: absolute;
    color: var(--gold);
    top: 30%;
   left: 3%;

}



.LogIn-Sign .LogIn-btn02{
    color: white;
    border: transparent;
    margin-top: 25px;
    width: 100%;
    background-color: var(--gold);
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}


.LogIn-Sign .forget-password{

    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
}

.LogIn-Sign .forget-password h3{
    font-size: 1.6rem;
    font-family: 'Noto Sans TC', serif;
    font-weight: normal;
}


.LogIn-Sign .forget-password-btn{

    cursor: pointer;
}


.LogIn-Sign .forget-password-btn:hover{

    color: var(--pink);
    transition: 0.3s;
}



.LogIn-Sign .not-menber{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
}

.LogIn-Sign .not-menber h3{
    font-size: 1.6rem;
    font-family: 'Noto Sans TC', serif;
    font-weight: normal;

}

.LogIn-Sign .not-menber h3 span{
    cursor: pointer;
    color: var(--pink);
}

.LogIn-Sign .backward{
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--pink);

}

.LogIn-Sign .backward h3{
    font-size: 1.6rem;
    font-family: 'Noto Sans TC', serif;
    font-weight: normal;
}

.LogIn-Sign .back01{
    margin-top: 15px;

}


/* /////註冊畫面////// */

.LogIn-Sign .LogSign-page{
    display: none;
}

.LogIn-Sign .LogSign-title h3{
    text-align: center;
    color: var(--blue);
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 2.4rem;
    letter-spacing: 0.8rem;
    line-height: 3rem;
}


.LogIn-Sign .logSign-content-wrap{
    margin: 25px auto 0px auto ;
    width: 65%;
    border-bottom: solid 2px var(--gold);
}


@media (max-width: 991px) {
    .LogIn-Sign .logSign-content-wrap{
        width: 80%;


    }

    .LogIn-Sign .account-password-wrap{
        flex-direction: column;
    }

    .LogIn-Sign .member-wrap{
        flex-direction: column;
        
    }

}


.LogIn-Sign .account-password-wrap{
    justify-content: space-between;
}
.LogIn-Sign .logSign-account{
    position: relative;
    width: 45%;
}

.LogIn-Sign .logSign-account h3{
    color: var(--blue);
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 1.6rem;

}

.LogIn-Sign .logSign-account input{
    margin-top: 5px;

}

.LogIn-Sign .email-icon01{
    position: absolute;
    color: var(--gold);
    top: 40px;
    left: 4%;;
}
/* 
.LogIn-Sign .logSign-account p{
    font-size: 1.4rem;
    font-family: 'Noto Sans TC', serif;
    font-weight: normal;
    color: #7F7F7F;
} */

.LogIn-Sign .logSign-password{
    position: relative;
    width: 45%;
}

@media (max-width: 991px) {

    .LogIn-Sign .logSign-account{
        width: 100%;
    }

    .LogIn-Sign .logSign-password{
        margin-top: 10px;
        width: 100%;

    }

}




.LogIn-Sign .logSign-password h3{
    color: var(--blue);
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 1.6rem;

}

.LogIn-Sign .logSign-password input{
    margin-top: 5px;

}
.LogIn-Sign .lock-icon02{
    position: absolute;
    color: var(--gold);
    top: 38px;
    left: 4%;
}

/* .LogIn-Sign .logSign-password p{
    font-size: 1.4rem;
    font-family: 'Noto Sans TC', serif;
    font-weight: normal;
    color: #7F7F7F;
} */


.LogIn-Sign .member-wrap{
    margin-top: 20px;
    justify-content: space-between;
}
.LogIn-Sign .logSign-name{
    position: relative;
    width: 45%;
}

.LogIn-Sign .logSign-name h3{
    color: var(--blue);
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 1.6rem;
}

.LogIn-Sign .logSign-birthday{
    position: relative;
    width: 45%;
}


@media (max-width: 991px) {

    .LogIn-Sign .logSign-name{
        margin-top: -10px;
        width: 100%;
    }

    .LogIn-Sign .logSign-birthday{
        margin-top: 20px;
        width: 100%;

    }

}


.LogIn-Sign .user-icon02{
    position: absolute;
    color: var(--gold);
    top: 34px;
    left: 4%;
}

.LogIn-Sign .logSign-birthday h3{
    color: var(--blue);
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 1.6rem;
}

.LogIn-Sign .birthday{
    position: relative;
  
}

/* 生日圖示改變  */
.LogIn-Sign #birthday::-webkit-calendar-picker-indicator { 
 
    position: absolute;
    left: -15px;
    display: block; 
    background: url('../../images/common/birthday-icon.svg') no-repeat; 
 
    width: 15px; 
 
    height: 15px; 

 
}


.LogIn-Sign .logSign-address{
    margin-top: 25px;
}

.LogIn-Sign .logSign-address h3{
    color: var(--blue);
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 1.6rem;
}


.LogIn-Sign .logSign-address .input-btn{
    padding-left: 10px;
}


@media (max-width: 991px) {

    .LogIn-Sign .logSign-address{
        margin-top: 22px;
    }


}



.LogIn-Sign .logSign-notice{
    margin: 30px auto 0 auto;
    width: 100%;
    color: var(--blue);
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Noto Sans TC', serif;
    font-weight: normal;
    
}

.LogIn-Sign .logSign-notice span{
    font-weight: bold;
}

.LogIn-Sign .logSign-btn{
    border-radius: 5px;
    width: 100%;
    border: transparent;
    font-family: 'Noto Sans TC', serif;
    font-weight: normal;
    margin-top: 25px;
    cursor: pointer;
    color: white;
    text-align: center;
    background-color: var(--gold);
    height: 35px;

}

.LogIn-Sign .already-account{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    padding-bottom: 15px;
}

.LogIn-Sign .already-account h3{
    color: var(--blue);
    font-family: 'Noto Sans TC', serif;
    font-weight: normal;
    font-size: 1.6rem;

}
.LogIn-Sign .already-account h3 span{
    cursor: pointer;
    color: var(--pink);
    
}

.LogIn-Sign .back02{
    margin: 0px auto 12px auto;
}


.LogIn-Sign .fb-02{
    margin: 0px auto 0 auto;
    width: 40px
}


.LogIn-Sign .social-signIn-wrap h4{
    margin-top: 5px;
    font-family: 'Noto Sans TC', serif;
    font-weight:light;
    text-align: center;
    color: var(--blue);
    font-size: 1.4rem;
}


/* /////驗證畫面////  */
.LogIn-Sign .Check-page{
    display: none;

}

.LogIn-Sign .Check-warp{
    margin: 0 auto;
    width: 65%;
}

.LogIn-Sign .Check-title h3{
    text-align: center;
    color: var(--blue);
    font-family: 'Noto Serif TC', serif;
    font-weight: bolder;
    font-size: 2.4rem;
    letter-spacing: 0.6rem;
    line-height: 3rem;
}

.LogIn-Sign .Check-content-warp{
    margin-top: 25px;
}
.LogIn-Sign .Check-content{
    margin: 0px auto 0 auto;
    
    color: var(--blue);
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Noto Sans TC', serif;
    font-weight: normal;

}

.LogIn-Sign .Check-Email{
    position: relative;
    margin: 20px auto 0 auto;
    width: 100%
}

.LogIn-Sign .email-icon02{
    position: absolute;
    color: var(--gold);
    top: 10px;
    left: 2.5%;;
}

.LogIn-Sign .check-email-btn{
    width: 100%;
    margin: 10px auto 0 auto;
    border-radius: 5px;
    font-family: 'Noto Sans TC', serif;
    font-weight: normal;
    border: transparent;
    cursor: pointer;
    color: white;
    text-align: center;
    background-color: var(--gold);
    height: 35px;

}


.LogIn-Sign .back03{
    margin-top: 20px;
}


/* //////註冊載入中畫面 ///////*/
.LogIn-Sign .Loading-page{
    display: none;

}

.LogIn-Sign .loader {
    margin: 80px auto 0 auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid var(--gold); /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1.2s linear infinite;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.LogIn-Sign .Loading-page p{
    margin-top: 30px;
    text-align: center;
    font-size: 2rem;
    color: var(--blue);
    font-family: 'Noto Sans TC', serif;
    font-weight: normal;


}


/* //////註冊成功畫面 ///////*/
.LogIn-Sign .Sign-Success{
    display: none;

}


.Success-wrap{
   width: 80%;
   margin: 0 auto;

}

.LogIn-Sign .Success-title h3{
    text-align: center;
    color: var(--blue);
    font-family: 'Noto Serif TC', serif;
    font-weight: bolder;
    font-size: 2.4rem;
    letter-spacing: 0.6rem;
    line-height: 3rem;
  


}

.LogIn-Sign .Success-top{
    margin: 22px auto 0 auto;
    width: 120px;
    animation: Cheer 1.5s linear forwards;
}


@keyframes Cheer{

    0%{
      
     opacity: 0;
    }
    100%{
     opacity: 1;
 
    }
 
 }

.LogIn-Sign .Success-hands{
    justify-content: center;
}
.LogIn-Sign .Success_hand{
     width: 120px;

}


.LogIn-Sign .hand_L{

    transform:  translateX(-60px) rotate(15deg);

    animation: handmoveR  1.5s ease-in-out forwards;

}

@keyframes handmoveR{

   0%{

    transform:  translateX(-60px) rotate(15deg);

   }
   100%{
    transform:  translateX(0px) rotate(0deg);

   }

}

.LogIn-Sign .hand_R{

    transform: translateX(60px) rotate(-15deg);
    animation: handmoveL  1.5s ease-in-out forwards;

}


@keyframes handmoveL{

    0%{
      
     transform:  translateX(60px) rotate(-15deg);
    }
    100%{
     transform:  translateX(0px) rotate(0deg);
 
    }
 
 }





.LogIn-Sign .Success-content{

    margin: 8px auto 0 auto;
    color: var(--blue);
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Noto Sans TC', serif;
    font-weight: normal;

}

.LogIn-Sign .Success-btn{

    width: 100%;
    margin: 12px auto 0 auto;
    border-radius: 5px;
    font-family: 'Noto Sans TC', serif;
    font-weight: normal;
    border: transparent;
    cursor: pointer;
    color: white;
    text-align: center;
    background-color: var(--gold);
    height: 35px;


}


/* //////////忘記密碼//////////// */

.LogIn-Sign .Forget-Password{
    display: none;
    /* margin-top: -30px; */
}
.LogIn-Sign .Forget-Password-title h3{
    text-align: center;
    color: var(--blue);
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 2.4rem;
    letter-spacing: 0.8rem;
    line-height: 3rem;
}


/* 忘記密碼第一步 */
.LogIn-Sign .UserEmail-wrap{
    display: none;
    margin: 20px auto 0 auto;
    width: 80%;
}

@media (max-width: 991px) {

    .LogIn-Sign .UserEmail-wrap{
        
        margin: 15px auto 0 auto;
       
    }

}



.LogIn-Sign .Forget-UserEmail{
    position: relative;
    width: 100%;
}

.LogIn-Sign .Forget-UserEmail h3{
    color: var(--blue);
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 1.6rem;

}

.LogIn-Sign .Forget-UserEmail input{
    margin-top: 5px;

}

.LogIn-Sign .email-icon01{
    position: absolute;
    color: var(--gold);
    top: 40px;
    left: 2%;;
}

@media (max-width: 991px) {

    .LogIn-Sign .email-icon01{
        position: absolute;
        color: var(--gold);
        top: 38px;
        left: 3%;;
    }

}

.LogIn-Sign .send-email-warp{

  justify-content: space-between;
  align-items: center;
  margin-top: 5px;

}

@media (max-width: 991px) {

    .LogIn-Sign .send-email-warp{

        flex-direction: column;
        align-items:flex-start;
      }

}


.LogIn-Sign .search-email{
 
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Noto Sans TC', serif;
    text-align: center;
    
    width: 80px;
    height: 35px;
    background-color: var(--gold);
    color:white;
    border: transparent;

}

.LogIn-Sign .UserEmail-check-wrap{
    margin: 0 auto;
    width: 80%;

}


.LogIn-Sign .Forget-Check{
    position: relative;
    margin-top: 15px;
    width: 40%;
}
.LogIn-Sign .Forget-Check h3{
    color: var(--blue);
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 1.6rem;

}


@media (max-width: 991px) {

    .LogIn-Sign .Forget-Check{
        position: relative;
        margin-top: 25px;
        width: 50%;
    }

}



.LogIn-Sign .Forget-Check input{
    padding-left: 10px;

}

.LogIn-Sign .resend-warp{
   align-items: center;
   color: var(--blue);
}

.LogIn-Sign .resende-code-btn{
    height: 35px;
    width: 120px;
    font-size: 1.4rem;
    color: var(--blue);
    background-color: transparent;
    border: transparent;
}



.LogIn-Sign .forget-next-btn{
    width: 100%;
    margin: 25px auto 0 auto;
    border-radius: 5px;
    font-family: 'Noto Sans TC', serif;
    font-weight: normal;
    border: transparent;
    cursor: pointer;
    color: white;
    text-align: center;
    background-color: var(--gold);
    height: 35px;

    
}

.LogIn-Sign .back04{
    margin-top: 20px;   
}


/* 忘記密碼第二步 */

.LogIn-Sign .ForgetChagePassword-wrap{
   display: none;
   margin: 20px auto 0 auto;  
   width: 75%;

}

.LogIn-Sign .Forget-change{
    position: relative;
}

.LogIn-Sign .Forget-change h3{
    color: var(--blue);
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 1.6rem;

}

.LogIn-Sign .Forget-change input{
   margin-top: 5px;
}
.LogIn-Sign .lock-icon03{
    position: absolute;
    color: var(--gold);
    top: 60%;
   left: 2%;

}

.LogIn-Sign .Forget-change-again{
    position: relative;
    margin-top: 25px;
}

.LogIn-Sign .lock-icon04{
    position: absolute;
    color: var(--gold);
    top: 38px;
    left: 2%;
}

.LogIn-Sign .Forget-change-again h3{
    color: var(--blue);
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 1.6rem;

}

.LogIn-Sign .Forget-change-again input{
   margin-top: 5px;
}
.LogIn-Sign .lock-icon03{
    position: absolute;
    color: var(--gold);
    top: 60%;
   left: 2%;

}


.LogIn-Sign .Forget-change-btn{
    width: 100%;
    margin: 40px auto 0 auto;
    border-radius: 5px;
    font-family: 'Noto Sans TC', serif;
    font-weight: normal;
    border: transparent;
    cursor: pointer;
    color: white;
    text-align: center;
    background-color: var(--gold);
    height: 35px;

    
}