/* -------------------------menu-bar-------------------------- */

        .beeru-nav-bar {
            width: 100%;
            height: 85px;
            background-color: var(--gold);
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
            position: fixed;
            z-index: 997;
            animation: op .5s forwards;
        }

        @keyframes op {
            0% {
                transform: translateY(-100%);
            }
            100% {
                transform: translateY(0);
            }
        }

        /* NAV BAR手機版 改高度*/
    @media (max-width: 991px) {
        .beeru-nav-bar {
            height: fit-content;
        }

    }



        /* LOGO */

        .beeru-nav-bar .nav-bar-logo {
            width: 75px;
            height: 80px;
            line-height: 80px;
            transition: .5s;
        }

        /* 桌機版 */
    @media (min-width: 992px) {
        .beeru-nav-bar .nav-bar-logo:hover {
            transform: translateY(-5px);
        }
    }


        


        /* LOGO手機版 改大小*/
    @media (max-width: 991px) {
        .beeru-nav-bar .nav-bar-logo {
            width: 55px;
            height: fit-content;
            line-height: 60px;
        }
    }


        /* 主要選單 */

        .beeru-nav-bar .nav-bar-list {
            width: 70%;
            font-family: 'Noto Serif TC', serif;
            font-size: 1.8rem;
            font-weight: bold;
        }

        .beeru-nav-bar .nav-item {
            transform: translateY(45px);
            transition: .5s;
            position: relative;
            height: fit-content;
            cursor: pointer;
        }

        .beeru-nav-bar .nav-item-hover {
            transform: translateY(35px);
        }

        /* 主要選單 手機版 */
    @media (max-width: 991px) {
        .beeru-nav-bar .nav-bar-list {
            width: 100%;
            margin: 5px 0;
            padding: 5px 35px;
            font-size: 1.5rem;
            border-top: 1px solid #fff;
        }

        .beeru-nav-bar .nav-item {
            transform: translateY(0);
        }      

    }

        

        /* 主要選單左右耳朵 */

        /* 桌機版 Hover出現 */
    @media (min-width: 992px) {
        .beeru-nav-bar .nav-item::before {
            content: '';
            display: block;
            position: absolute;
            background: url(../../images/common/ear_left.svg) 0 0 no-repeat;
            width: 10px;
            height: 16px;
            left: -20px;
            top: 10px;
            transition: .5s;
            opacity: 0;
        }
        .beeru-nav-bar .nav-item::after {
            content: '';
            display: block;
            position: absolute;
            background: url(../../images/common/ear-right.svg) 0 0 no-repeat;
            width: 10px;
            height: 16px;
            right: -20px;
            top: 10px;
            transition: .5s;
            opacity: 0;
        }

        .beeru-nav-bar .nav-item-hover::before {
            opacity: 1;
        }
        .beeru-nav-bar .nav-item-hover::after {
            opacity: 1;
        }
    }


        /* 子選單 */

        .beeru-nav-bar .nav-sub-menu {
            position: absolute;
            background-color:#fff;
            width: 170%;
            text-align: center;
            left: -35%;
            opacity: 0;
            transition: .5s;
            height: 0;
            overflow: hidden;
        }

        .beeru-nav-bar .nav-sub-menu-open {
            height: fit-content;
            opacity: 1;
        }


        .beeru-nav-bar .nav-sub-menu-item {
            font-family: 'Noto Sans TC', sans-serif;
            font-size: 1.6rem;
            font-weight: 500;
            color: var(--gold);
            border: 1px solid var(--gold);
            padding: 2%;
            transition: .5s;
        }

        /* 子選單手機版 改字大小*/
    @media (max-width: 991px) {
        .beeru-nav-bar .nav-sub-menu-item {
            font-size: 1.5rem;
        }
    }

        .beeru-nav-bar .nav-sub-menu-item:hover {
            color: #fff;
            border: 1px solid #fff; 
            background-color: var(--gold);   
        }



        /* 右上角小圖們 */

        .beeru-nav-bar .nav-bar-member {
            position: relative;
            right: 20px;
        }

        /* 右上角小圖們 手機版 改位置 */
    @media (max-width: 991px) {
        .beeru-nav-bar .nav-bar-member {
            width: 75px;
            position: absolute;
            right: 5%;
            top: 15%;
            justify-content: flex-end;
        }
    }



        /* 會員登入 & 購物車 */

        .beeru-nav-bar .user-login {
            width: 16px;
            height: fit-content;
            margin-left: 15px;
            transition: .5s;
            position: relative;
            z-index: 10;
        }

        .beeru-nav-bar .shopping-cart {
            width: 15px;
            height: fit-content;
            margin-left: 15px;
            transition: .5s;
            position: relative;
            z-index: 10;
        }

        .beeru-nav-bar .logout {
            font-size: 1rem;
            text-align: center;
            line-height: 35px;
            margin-left: 15px;
            margin-right: -10px;
            transition: .5s;
            cursor: pointer;
        }

       .beeru-nav-bar .user-pic{
        width: 30px;
        height: fit-content;
        margin-left: 15px;
        transition: .5s;
        position: relative;
        z-index: 10;
           
       }


        /* 會員登入 & 購物車 桌機版 HOVER效果*/
    @media (min-width: 992px) {
        .beeru-nav-bar .user-login::after {
            content: 'LOG IN';
            text-align: center;
            font-size: 12px;
            display: block;
            position: absolute;
            width: 50px;
            transform: translateX(-30%) translateY(-6px);
            color: transparent;
            transition: .5s;
            cursor: pointer;
        }


         .beeru-nav-bar .user-login:hover, .beeru-nav-bar .shopping-cart:hover ,.beeru-nav-bar .user-pic:hover {
            filter: drop-shadow(0px 0px 8px  #163d50);
        }


        .beeru-nav-bar .user-login:hover::after {
            color: var(--yellow);
        }

        .beeru-nav-bar .logout:hover {
            color: var(--yellow);
        }

    }


        

        /* 搜尋 */

        /* 桌機版 */
    @media (min-width: 992px) {
        .beeru-nav-bar .search {
            margin-top: 2px;
            transition: .5s;
            cursor: pointer;
            opacity: 1;
        }
        .beeru-nav-bar .search:hover {
            opacity: 0.4;
        }
    

        .beeru-nav-bar .search-bar {
            position: absolute;
            transform: translateX(-105%);
            height: 25px;
            margin-top: 5px;
            width: 0;
            border-radius: 5px;
            border: 0.5px solid #fff;
            background-color: rgba(255, 255, 255, 0.616);
            font-size: 14px;
            padding: 6px;
            outline:none;
            color: var(--blue);
            opacity: 0;
            transition: .5s;
        }
        .beeru-nav-bar .search-bar-open {
            width: 280px;
            opacity: 1;
        }



        .beeru-nav-bar .search-bar::-webkit-input-placeholder {
            color: var(--gold);
        }

    }

        /* 手機版 */
    @media (max-width: 991px) {
        .beeru-nav-bar .search {
            position: absolute;
            right: -1px;
            bottom: -55px;
            display: none;

        }
    
        .beeru-nav-bar .search-bar {
            position: absolute;
            transform: translateY(100px);
            height: 30px;
            width:0;
            border-radius: 5px;
            border: 0.5px solid #fff;
            background-color: rgba(255, 255, 255, 0.8);
            font-size: 14px;
            padding: 6px;
            outline:none;
            color: var(--blue);
            opacity: 0;
            transition: .5s;
            display: none;
        }
        .beeru-nav-bar .search-bar-open {
            width: 280px;
            opacity: 1;
            display: none;
        }



        .beeru-nav-bar .search-bar::-webkit-input-placeholder {
            color: var(--gold);
        }
    }

/* -----------------------手機版 Trigger選單------------------- */

        /* 手機版 */
    @media (max-width: 991px) {
        .beeru-nav-bar .trigger {
            width: 35px;
            height: 35px;
            position: absolute;
            z-index: 999;
            left: 20px;
            top: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: .5s;
        }

        .beeru-nav-bar .trigger span {
            display: block;
            width: 70%;
            height: 3px;
            background-color: #fff;
            border-radius: 2px;
            margin: 0 auto;
            transition: .3s;
        }

        .beeru-nav-bar .trigger span::before {
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            background-color: #fff;
            border-radius: 2px;
            margin-top: -9px;
            transition: .3s;
        }

        .beeru-nav-bar .trigger span::after {
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            background-color: #fff;
            border-radius: 2px;
            margin-top: 15px;
            transition: .3s;
        }



        .beeru-nav-bar .trigger span.on {
            background-color: transparent;
        }

        .beeru-nav-bar .trigger span.on::after {
            transform: rotate(-45deg) translate(5px, -5px);
            background-color: #fff;
        }

        .beeru-nav-bar .trigger span.on::before {
            transform: rotate(45deg) translate(8px, 8px);
            background-color: #fff;
        }

    }
        


/* ----------------------禁止酒駕警語---------------------- */


        .beer-warning {
            width: 100%;
            height: 10vh;
            max-height: 85px;
            position: fixed;
            bottom: 0;
            background-color: #fff;
            border-top: 3px solid var(--gold);
            color: rgb(71, 71, 71);
            font-size: 3.6rem;
            letter-spacing: 2.3rem;
            z-index: 995;
            box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.15);
        }

        .beer-warning p:nth-of-type(1) {
            position: relative;
            margin-right: 8%;
        }


        .beer-warning p:nth-of-type(1)::after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -35%;
            background: url(../../images/common/icon_dont_drink_drive.svg) no-repeat center center;
            background-size: contain;
            width: 30%;
            height: 70%;

        }

        /* 手機版 改字大小跟間距 */
    @media (max-width: 991px) {
        .beer-warning {
            font-size: 2rem;
            letter-spacing: 0.2rem;
        }

    }


/* ----------------NAV BAR底下box--------------- */

        /* 桌機版 */
    @media (min-width: 992px) {
        .header {
            width: 100%;
            height: 85px;
        }
    }

        /* 手機版 */
    @media (max-width: 991px) {
        .header {
            width: 100%;
            height: 107.67px;
        }
    }



/* ----------------購物車小字------------------ */

        .beeru-nav-bar .cart-pnum {
            position: absolute;
            bottom: 0;
            right: -10px;
            font-size: 0.9rem;
            z-index: 999;
            background-color: var(--pink);
            border-radius: 50%;
            width: 16px;
            height: 16px;
            line-height: 15px;
            text-align: center;
        }



/* ----------------禮物小圖---------------------- */
        .beeru-nav-bar .havegift {
            position: absolute;
            bottom: -10px;
            right: -5px;
            color: var(--red);
            font-size: 1.4rem;
            animation-name: bigbig;
            animation-duration: .5s;
            animation-iteration-count: infinite;
            display: none;
            cursor: pointer;
        }


@keyframes bigbig {
    0% {
        transform: scale(1) rotate(10deg);   
    }
    50% {
        transform: scale(1.1) rotate(10deg);   
    }
    100% {
        transform: scale(1) rotate(10deg);   
    }
}


        .beeru-nav-bar .gift-notice {
            position: absolute;
            top: 30px;
            right: 5px;
            font-size: 1.2rem;
            line-height: 1.6rem;
            color: var(--blue);
            background: url(../../images/common/achieve-notice.svg) center center no-repeat;
            background-size: 100% 100% ;
            padding: 15px;
            padding-top: 22px;
            text-align: center;
            z-index: 10;
            animation: upshow .6s ;
            display: none;
        }

        .beeru-nav-bar .gift-notice a {
            color: var(--red);
        }

@keyframes upshow {
    0% {
        transform: translateY(15px);   
    }
    70% {
        transform: translateY(-8px);   
    }
    100% {
        transform: translateY(0);   
    }
}








        





        



        



