.IN{
    
    display: block;
    opacity: 1;
}

.OUT{
    
    display: none;
    opacity: 0;
}


.nav-headerOut{
    height:0;
}

.pipi-flyIn{
    
    transition: 2s;
    opacity: 1;
    transform: translate(-120px, 300px) ;

}
.pipi-flyIn-RWD{
    
    transition: 2s;
    opacity: 1;
    transform: translate(-120px, 200px) ;

}

.DOOR-OPEN{
     transform: translateX(380px);
    
}
.DOOR-OPEN-RWD{
     transform: translateX(300px);
    
}


.Door-ZoomOut{
    transform: scale(2) translateY(-50px);

    opacity: 0;
}

.animate__animated.animate__slideInDown{
    --animate-duration: 3s;
    --animate-delay: 5s;
}


.pipi-flyout{
    transition: 3s;
    opacity: 0;
    transform: translate(110px,-100px);

}


.BeerU-fadeIN{
    opacity: 1;
    transition: 1s;
}


.BeerU-fadeOut{
    opacity: 0;
    transition: 0.5s;

}

.WomanMove{

    animation: WomanMove 0.6s linear forwards;
}


@keyframes WomanMove{


    from { transform: translate(0,  0px) ;}
 
    50%  { transform: translate(0, -10px) ;}

    to   { transform: translate(0, 0px)  ;}  



}

