@media (max-width: 991px) {

/* ///////Landingpage/////////*/
   .LandingPage{
       height:calc(100vh - 80px);
    }

    .LandingPage .colum{
        display: none;
     }

    .LandingPage .DOOR{
        width: 300px;
        margin-bottom: 100px;
        border-bottom: solid 0.3px var(--gold);
    
        
    }

    .LandingPage .door_outside{
        border-bottom: solid 0.3px var(--gold);
    }
    
    .LandingPage .doorSign_warp h1:nth-of-type(1){
        font-size: 34px;
        font-family: 'Noto Serif TC';
        font-weight: SemiBold;
            
    }

    .LandingPage .doorSign_warp p{
        font-family: 'Noto Sans TC';
        color: #E9BF85;
        font-size: 14px;
    }


    .LandingPage .doorSign_warp h1:nth-of-type(2){
    margin-top: 15px;
    transform:  translateX(10px);
    color: #E9BF85;
    font-size: 20px;
    font-weight: bold;

   }

 .LandingPage .button_warp{
    margin-top: 180px;
  }

  .pip_push{
    position: absolute;
    width: 150px;
    transform: translate(-120px, 0px) ;

   }


   /* ////////Homepage////////// */

   .home{
    height:calc(100vh - 80px);
   }

   .home .home_bg{
    height:calc(100vh - 80px);
    background-size: cover;
    background: url("../../images/common/工作區域\ 3.png") ;
    background-position: bottom -50px  left 0 ;

   }
   .home .Logo_wrap{
    width: 100%;
    margin-top: -20%;
  
   }

   .home .flag_L{
    height: 0;
    background-size: cover;
    background-image: url('../../images/common/flag_L_V3.png'
    );
    background-position:  right;
    padding-top: 71.84%;
  
  }
  .home .flag_R{
    height: 0;
    background-size: cover;
    background-image: url('../../images/common/flag_R_V3.png'
    );
    padding-top: 71.84%;
  
  }
   

  .home .LOGO_Filter{
    z-index: 5;
    width: 100%;
    left: 48%;
    
   
    }


   .pip_pick{
    position: absolute;
    width: 60px;
    transform: rotate(30deg) translate(110px,5px);
    
    }

    .home .RWD-button-wrap{
      margin-bottom: 45px;
    }


    .home .RWD-button-wrap .row{
        
        display: flex;
        justify-content: center;
       
    }

    .home .RWD-button{
        opacity: 0;
        cursor: pointer;
        flex-direction: column;
        justify-content: flex-end;
        width: 100px;
        height: 150px;
        margin: 0px 25px;
        margin-bottom: 20px;
        
    
    }
    .home .RWD-button img{
       
        margin: 0 auto;
        width: 40%;
    }

    .home .icon02 img{
        margin-left: 30px;
        width: 60%;
    }
    .home .icon03 img{
        width: 50%;
    }
    .home .icon04 img{
        width: 35%;
    }

    .home .RWD-button h3{
        font-family: 'Noto Serif TC', serif;
        margin-top: 5px;
        letter-spacing: 3px;
        font-size: 20px;
         text-align: center;
    }

    
   




    .home .Woman_warp{
       display: none;
    }

    
    /* ////////精釀小學堂///////// */


    .Brew-school{
            opacity: 0;
    }

    .Brew-school .Brew-school-intro{
        /* margin-top:20px; */
        flex-direction: row;
    }


    .Brew-school .brew-beer-left{
        width: 50%;
        text-align: center;
        flex-direction: column;
    }


   
    .Brew-school .brew-beer-img{
        transform: translateX(0px);
        opacity: 1;
        margin: 0 auto;
        width: 40%
    } 
    
    .Brew-school .brew-beer-intro{
        border-bottom: none;
    }

    .Brew-school .bussiness-beer-intro{
        border-bottom: none;
    }

    .Brew-school .title-txt{
        margin: 0 auto;
        text-align: center;
        
    }

    .Brew-school .title-txt h2{
       font-size: 2.6rem;
    }

    .Brew-school .content-txt{
        word-break: break-all;
        margin-top: 0;
    }
    .Brew-school .content-txt h6{
        font-size: 1.6rem;
        width: 100%;
       
        margin-bottom: 20px;
    }
     
    .Brew-school .content-txt h6:nth-of-type(1){
    
       margin-top: 20px;
    }
    .Brew-school .content-txt h6:nth-of-type(3){
        margin: 20px 0;
        color:var(--yellow);
    }

    .Brew-school .content-txt h6:nth-of-type(4){
        margin:20px 0;
       
    }
    .Brew-school .category-middle{
        display: none;
    }
  
  
    .Brew-school .bussiness-beer-right{
        width: 50%;
        flex-direction: column-reverse;
    }
    
    .Brew-school .bussiness-beer-intro{
        margin-bottom: 17px;
    }
    .Brew-school .bussiness-beer-content{
        text-align: center;
    }
    .Brew-school .bussiness-beer-img{
        transform: translateX(0px);
        margin: 0 auto;
        width: 50%;
    }
    

    /* ///////Beer-type///////// */
    .Beer-type .type-colorDot {
        display: block;
        opacity: 1;
        margin-top: 20px;
        justify-content: space-evenly;

       }

    .Beer-type .colorDot{
           cursor: pointer;
           width: 25px;
           height: 25px;
           border-radius: 100%;
           border: solid 1px #fff;
           margin: 0 5px;
       }

       


    .Beer-type .hand{
        display: none;

       }

    .Beer-type .drop {
            display: none;
        }


    .Beer-type  .type-forward{
            display: none;
        }

    .Beer-type .type-backward{
            display: none;
        }


    /* //////輪播牆//////  */
    .Beer-type .Beer-type-window{
            position: relative;
            overflow: hidden;
            max-width: 370px;
            height: 520px;
            margin-top: 40px;
          
            
        }
    .Beer-type .Beer-type-content-warp{
            display: flex;
            flex-direction: row;
            position: absolute;
            top: 0;
            left: 0;
            width: 3330px;
        }
        
        
    .Beer-type  .Beer-type-content{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            height: 100%;
            width: 100%;
        }

    .Beer-type .Beer-type-img {
            width: 140px;
        }

    .Beer-type .type-img02{
            width: 100px;
        }
    .Beer-type .type-img03{
            width: 100px;
        }
        
     .Beer-type .type-img04{
            /* width: 90px; */
            width: 100px;
        }
        
    .Beer-type .type-img05{
            /* width: 100px; */
            width: 90px;
        }
    .Beer-type .type-img06{
            width: 100px;
        }
    .Beer-type .type-img07{
            width: 100px;
        }
    .Beer-type .type-img08{
            width: 120px;
        }
    .Beer-type .type-img09{
            width: 120px;
        }

        
    .Beer-type .Beer-type-name{
          word-break: keep-all;
           margin: 30px auto 0 auto;
        }
         
     
    .Beer-type .Beer-type-intro-wrap{
            position: relative;
            height: 350px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start
            
        }
        
    .Beer-type .Beer-type-text{
         
            padding: 15px;
            width: 100%;
            max-width: 380px;
        }


    .Beer-type .more-btn02{
            margin: 0 auto;
        }

   

    /* ///////啤女精選///////// */

    .BeerU-colllection-title{
        margin-top: 0px;
    }
   
    .BeerU-colllection-title h1{
        top: 18px;
        left: 10px;
        letter-spacing: 19px;
        font-size: 28px;
    }

   
    .BeerU-colllection .item{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 500px;
        cursor: pointer;
    }

    .BeerU-colllection .item-flag{
        position: relative;
        z-index: 1;
        margin: 0px auto 0 auto;
        width: 50px;
    
        transform: rotate(20deg) translate(90px,65px);
    }
    

    .BeerU-colllection .item-img{
        position: relative;
        z-index: 2;
        margin: -50px auto 0 auto;
        width: 30%;
        height: 380px;
        
        
        
    }
    
    .BeerU-colllection .item-img img{
        height: 100%;
        /* max-width: 99px; */
    }

    .BeerU-colllection .item-intro {
        margin-top: 20px;
    
    }
    
   

    /* ////////啤女分頁////////*/

    .BeerU-feature{
       margin-top: 20px;
    }

    .BeerU-feature .feature{
        overflow: hidden;
        position: relative;
        margin: -80px auto 0 auto;
        width: 100%;
        cursor: pointer;
    }


    /* ////////啤女傳說/////// */

    .BeerU-legend{
        margin-top: 80px;
    }

    .BeerU-legend-title h1{
        top: 15px;
        left: 12px;
        font-size: 32px;
        letter-spacing: 13px;

    }


    .BeerU-legend .legned-story-warp{

        transform: translateX(-10px);
    }

    .BeerU-legend .legned-story{
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        align-items: center;
    }
    .BeerU-legend .legned {
        
        width: 100px;
        height: 100px;
        
        border-radius: 50%;
        border: solid 2px var(--gold)
        
    }

    .BeerU-legend .legned h3{
        margin-top: 12px;
        font-size: 2.4rem;
        line-height: 4rem;
    }


    .BeerU-legend .legned-content{
        width: 45%;
        transform: translateX(-6px);
        margin: 0;
   
    }

    .BeerU-legend .legned-content p{
        font-family: 'Noto Sans TC', serif;
        font-size: 1.6rem;
        word-break:break-alll;
    }
    

    .clouds{
        height: 600px;
    }

    .pipi{
      
        margin-top: 0
    }
    .pipi-left{
      
        margin-top: 50px
    }

   .pipi-body{
        cursor: pointer;
        position: relative;
        width: 200px;
       
        margin-left:0;
      
    }

    .pipi-arrow{
        position: absolute;
        width: 40px;
        top: 30%;
        transform: translateX(-20px);
    }
    
    .pipi-name{
        padding: 15px;
    }

    .pipi-intro{
        width: 100px;
        max-width: 400px;
        margin: 0 auto;
    }



   .pipi-intro p{
        
        margin: 0 auto;
        letter-spacing: 3px;
        font-size: 16px;
        margin-top: 20px;
    }





}