body,html{
    margin: 0;
    padding: 0;
    background-color: #163D50;
}



/* --------LandingPage-------- */

#LandingPage{

    background-image: url('../../images/common/BG-texture\ v1.jpg');
    height:calc(100vh - 85px);
    overflow: hidden;
    
}


 .LandingPage::after {
    content: '';
    display: block;
    width: 100%;
    height: 10vh;
    max-height: 85px;
} 

.LandingPage .LandingPage_warp{
    
    display: flex;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    align-items: flex-end;
    height:calc(100vh - 85px);

    transition:3s;
  
    
}
.LandingPage .colum{
   
   transition:0.8s;
   /* width: 82px; */
   width: 6%;
   height:calc(100vh - 85px);
}


.LandingPage .colum::after {
    content: '';
    display: block;
    width: 100%;
    height: 10vh;
    max-height: 85px;
} 




.LandingPage .DOOR{
    
    margin: 0 auto;
    width: 380px;
    background-image: url('../../images/common/door-2.png');
    background-size: cover;
    background-repeat: no-repeat;

}
.LandingPage .DOOR img{
    width: 100%
}


.pip_push{
    opacity: 0;
    position: absolute;
    width: 150px;
    transform: translate(-120px, -50px) ;

}

.LandingPage .door_outside{
    transition: 2s;
    position: relative;
   
}

.LandingPage .doorSign_warp {
    transition: 2s;
    position: absolute;
    text-align: center;
    margin-top: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* object-position: 50% 50%; */
 
}

.LandingPage .doorSign_warp h1:nth-of-type(1){
    font-size: 4rem;
    font-family: 'Noto Serif TC';
    font-weight: Bold;
    


}

.LandingPage .doorSign_warp p{
    font-family: 'Noto Sans TC';
    color: #E9BF85;
    font-size: 1.8rem;
}
.LandingPage .doorSign_warp p:nth-of-type(1){
  margin-top: 15px;
}

.LandingPage .doorSign_warp p:nth-of-type(2),p:nth-of-type(3),p:nth-of-type(4){
    transform:  translateX(10px);
  
  }

  

.LandingPage .doorSign_warp h1:nth-of-type(2){
     margin-top: 15px;
     transform:  translateX(10px);
     color: #E9BF85;
     font-size: 2.5rem;
     font-weight: bold;

  }


.LandingPage .button_warp{
    transition: 2s;
    position: absolute;
    margin-top: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

  }

.LandingPage .btn01{
     width: 60px;
     height: 40px;
     border-radius: 10px;
     margin: auto 5px;
     background-color: transparent;
     color: var(--gold);
     border: solid 1px var(--gold);
  }

  /* -----------------homepage----------------  */

  /* -------------return to top -------------*/

#return-to-top {
    position: fixed;
    z-index: 999;
    bottom: 100px;
    right: 100px;
    width: 100px;
    height: 100px;
    display: none;
}

#return-to-top img {
    color: #F2D5C4;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    transition:.3s;
    /* opacity:.4; */
}

#return-to-top:hover img {
    color: #fff;
    top: 5px;
    /* transform: scale(1.1); */
    /* opacity:1; */
}

/* 手機版 */

@media (max-width: 991px) {
    #return-to-top {
        width: 70px;
        height: 70px;
        bottom: 100px;
        right: 20px;
    }
}

/* scroll - swing - 特效 */
html {
    scroll-behavior: swing;
}

  .home{
      width: 100%;
      height:calc(100vh - 85px);
      display: flex;
      flex-direction: column;
       overflow: hidden;  

  }
  .home .home_bg {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: calc(100vh - 85px);
      background: url("../../images/common/Homepage_background.png") center center no-repeat;
      background-size: contain;
     
  }

  .home::after {
      content: '';
      display: block;
      width: 100%;
      height: 10vh;
      max-height: 85px;
  }


  .home .Logo_wrap{
      display: flex;
      position: relative;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-top: -100px;
   
  }


.home .flag{
    width: 50%;
    overflow: hidden;
    
}

.home .flag_L{
    height: 0;
    background-size: cover;
    background-image: url('../../images/common/flag_L_V3.png'
    );
    padding-top: 21.84%;
  
}
.home .flag_R{
    height: 0;
    background-size: cover;
    background-image: url('../../images/common/flag_R_V3.png'
    );
    padding-top: 21.84%;
}


.home .LOGO_Filter{
    position: absolute;
    z-index: 99;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 25px;   
}


.home .LOGO_Filter img{
    width: 100%;
}

.pip_pick{
    position: absolute;
    opacity: 1;
    width: 100px;
    transform: rotate(30deg) translate(110px,5px);
    
    
}


.home .RWD-button-wrap .row{
    display: none;
}



.home .Woman_warp{
    display: flex;
    justify-content: center;
  
}

.home .woman{
    cursor: pointer;
    position: relative;
    margin: 0 35px;
}




.home .woman-img{
    opacity: 0;
    width: 180px;
  
}

.home .woman-talk{
    opacity: 0;
    top: 0;
    width: 70%;
    position: absolute;
}


.home .woman03-img{
    width: 240px;
    margin-left: 20px;
}

.home .talk01{
    transform: scale(0.5) translate(-80px, -80px);
}
.home .talk02{
    right: 0;
    transform: scale(0.5) translate(50px, -60px);

}
.home .talk03{
    right: 0;
    width: 50%;
    transform: scale(0.5) translate(50px, -80px);
}
.home .talk04{
    right: 0;

    transform: scale(0.5) translate(30px, -60px);
}



 /* ////////精釀小學堂///////// */


 .Brew-school{
     overflow: hidden;
     opacity: 0;
 }

 .title-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
    /* 圈圈圖案 */
.Brew-school .Brew-school-title { 
    background: url(../../images/common/h1_5_w.svg) no-repeat center center;
    background-size: contain;

}

/* 標題文字 */
.Brew-school .Brew-school-title p {
    color: white;
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 3.6rem;
    letter-spacing: 1.2rem;
    text-indent:1.2rem;
    width: fit-content;
    margin: 0 auto;
    position: relative;
}

/* 左邊雕飾 */
.Brew-school .Brew-school-title p::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-115%, -50%);
    width: 150px;
    height: 50%;
    background: url(../../images/common/h1_ear_left.svg) no-repeat center center;
    background-size: contain;

}


/* 右邊雕飾 */
.Brew-school .Brew-school-title p::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right:0;
    transform: translate(115%, -50%);
    width: 150px;
    height: 50%;
    background: url(../../images/common/h1_ear_right.svg) no-repeat center center;
    background-size: contain;

}

/* 手機版 改字和雕飾大小*/
@media (max-width: 991px) {
.Brew-school .Brew-school-title p {
    font-size: 2.4rem;
    letter-spacing: 0.8rem;
    text-indent:0.8rem;
}

.Brew-school .Brew-school-title p::before {
    width: 60px;
    height: 32%;

}

.Brew-school .Brew-school-title p::after {
    width: 60px;
    height: 32%;

}


}



.Brew-school .Brew-school-intro {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.Brew-school .brew-beer-left{
    width: 550px;
    justify-content: space-between;
    text-align: right;
    
}

.Brew-school .brew-beer-img{
    cursor: pointer;
    transform: translateX(-200px);
    opacity: 0.6;
}

.Brew-school .brew-beer-intro{
    border-bottom: solid 1px #fff;

}


.Brew-school .title-txt{
    width: 100%;
    max-width: 300px;
    border-bottom: solid 1px #fff;
    padding: 10px 0;
}
.Brew-school .title-txt h2{
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
}


.Brew-school .content-txt{
    margin-top: 40px;
}
.Brew-school .content-txt h6{
    font-family: 'Noto Sans TC', serif;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    margin-bottom: 25px;
   

}

.Brew-school .content-txt h6:nth-of-type(1){
    
    color:var(--yellow);
}
.Brew-school .content-txt h6:nth-of-type(3){
    margin: 35px 0;
    color:var(--yellow);
}
.Brew-school .content-txt h6:nth-of-type(4){
    margin:45px 0;
   
}
.Brew-school .content-txt h6:nth-of-type(5){
    color:var(--yellow);
}

.Brew-school .category-middle{
    width: 100px;
    border-bottom: solid 1px #fff;
}
.Brew-school .category-middle h6{
   
    font-family: 'Noto Sans TC', serif;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    text-align: center;
    padding-bottom: 20px;

}
.Brew-school .category-middle h6:nth-of-type(1){
    border-top: solid 1px #fff;
    margin-top: 67px;
    padding-top: 40px;
    color:var(--yellow);
}

.Brew-school .category-middle h6:nth-of-type(3){
    color:var(--yellow);
}
  

.Brew-school .category-middle h6:nth-of-type(5){
    color:var(--yellow);

   
}

.Brew-school .bussiness-beer-right{
    width: 550px;
    justify-content: space-between;
    text-align: left;
    

}

.Brew-school .bussiness-beer-intro{
    border-bottom: solid 1px #fff;

}

.Brew-school .bussiness-beer-img{
    cursor: pointer;
    transform: translateX(200px);
    opacity: 0.6;
}

.Brew-school .more-btn01{
    margin: 0 auto;
}

/* ///////Beer-type///////// */

.Beer-type{
    opacity: 0;
    margin-top: 60px;
}

.title-wrap h3{
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 0.1rem

}



.Beer-type .type-content{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.Beer-type .type-forward{
    z-index: 980;
    cursor: pointer;
    background-image: url("../../images/common/arrow_left.svg");
    width: 80px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;


}

/* //////啤酒種類輪播牆/////// */

.Beer-type .Beer-type-window{
    position: relative;
    overflow: hidden;
    max-width: 720px;
    height: 400px;
  
    
}
.Beer-type .Beer-type-content-warp{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    width: 6480px;
}


.Beer-type .Beer-type-content{
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.Beer-type .Beer-type-img {
    width: 240px;
}

.Beer-type .type-img02{
    width: 180px;
}
.Beer-type .type-img03{
    /* width: 190px; */
    width: 180px;
}

.Beer-type .type-img04{
    /* width: 160px; */
    width: 190px;
}

.Beer-type .type-img05{
    /* width: 180px; */
    width: 160px;
}
.Beer-type .type-img06{
    width: 175px;
}
.Beer-type .type-img07{
    width: 155px;
}
.Beer-type .Beer-type.type-img08{
    width: 190px;
}
.Beer-type .type-img09{
    width: 190px;
}


.Beer-type .Beer-type-intro-wrap{
    position: relative;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.Beer-type .Beer-type-name h3{
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: var(--yellow);
    margin-left: 10px;

}

.Beer-type .Beer-type-name img{
    width: 30px;
 
}

.Beer-type .Beer-type-text{
    /* margin-top: 20px; */
    width: 100%;
    max-width: 380px;
}


.Beer-type .Beer-type-text p{
    word-break: break-all;
    font-family: 'Noto Sans TC', serif;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 2;

}



/* //////啤酒種類輪播牆/////// */

.Beer-type .type-backward{
    cursor: pointer;
    background-image: url("../../images/common/arrow_right.svg");
    width: 80px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;


}


.Beer-type .type-colorDot {
    display: none;
    opacity: 0;
}


.Beer-type .hand{
    position: absolute;
    /* transform: translate(-30px,-155px); */
    transform: translate(-300px,-250px) rotate(-30deg);
    min-width: 400px;
    width: 30%;
}

.Beer-type .type-color{
    opacity: 0;
    justify-content: center;  
    margin-top: 55px;
}

.Beer-type .drop{
    cursor: pointer;
    margin: 0 30px;
    width: 4%
  
}




/* ///////啤女精選///////// */

.BeerU-colllection{
    opacity: 0;
}

   /* 圈圈圖案 */
 .BeerU-colllection-title{ 
    background: url(../../images/common/h1_4_w.svg) no-repeat center center;
    background-size: contain;
    margin-top: 100px;
}

/* 標題文字 */
.BeerU-colllection-title p {
    color: white;
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 3.6rem;
    letter-spacing: 1.2rem;
    text-indent:1.2rem;
    width: fit-content;
    margin: 0 auto;
    position: relative;
}

/* 左邊雕飾 */
.BeerU-colllection-title p::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-115%, -50%);
    width: 150px;
    height: 50%;
    background: url(../../images/common/h1_ear_left.svg) no-repeat center center;
    background-size: contain;

}


/* 右邊雕飾 */
.BeerU-colllection-title p::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right:0;
    transform: translate(115%, -50%);
    width: 150px;
    height: 50%;
    background: url(../../images/common/h1_ear_right.svg) no-repeat center center;
    background-size: contain;

}

/* 手機版 改字和雕飾大小*/
@media (max-width: 991px) {
.BeerU-colllection-title p {
    font-size: 2.4rem;
    letter-spacing: 0.8rem;
    text-indent:0.8rem;
}

.BeerU-colllection-title p::before {
    width: 60px;
    height: 32%;

}

.BeerU-colllection-title p::after {
    width: 60px;
    height: 32%;

}


}


/*///// 精選輪播牆 /////*/
.BeerU-colllection .colllection-items-warp{
    display: flex;
    flex-direction: row;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0px auto 50px auto;
    
}



.BeerU-colllection .item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 600px;
    cursor: pointer;
}


.BeerU-colllection .item-flag{
    position: relative;
    z-index: 1;
    margin: 0px auto 0 auto;
    width: 60px;

    transform: rotate(20deg) translate(90px,68px);
}

.BeerU-colllection .item-img{
    position: relative;
    z-index: 2;
    margin: -50px auto 0 auto;
    width: 45%;
    height: 415px;
    
    
    
}

.BeerU-colllection .item-img img{
    height: 100%;

}

.BeerU-colllection .item-intro {
    margin-top: 0px;

}
.BeerU-colllection .item-intro h4{
    font-family: 'Noto Sans TC', serif;
    font-weight: Medium;
    font-size: 1.7rem;
    text-align: center;
    
}
.BeerU-colllection .item-intro h4:nth-of-type(2){
    font-family: 'Noto Sans TC', serif;
    font-weight: Medium;
    font-size: 1.4rem;
    text-align: center;
    
}




/* ////////啤女分頁////////*/

.BeerU-feature{
    opacity: 0;
    margin-top: 65px;
}

.BeerU-feature .feature-wrap{
  
    display: flex;
    justify-content: center;
}


.BeerU-feature .feature{
    overflow: hidden;
    position: relative;
    margin: 15px 15px;
    width: 540px;
    height: 350px;
    cursor: pointer;
}

.BeerU-feature .feature-img{
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
   

}


.BeerU-feature .feature-img04{
    width: 110%;

}

.BeerU-feature .feature-content{
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
  
    background: linear-gradient(to right ,#000 0% , transparent 100% );
}

.BeerU-feature .feature-content p{
    font-family: 'Noto Serif TC', serif;
    font-size: 3.5rem;
    font-weight: bold;
    margin-left: 20px;
    
  
}



/* ////////啤女傳說/////// */

.BeerU-legend{
 
    margin-top: 120px;
}

/* 圈圈圖案 */
.BeerU-legend-title{ 
    opacity: 0;
    background: url(../../images/common/h1_4_w.svg) no-repeat center center;
    background-size: contain;

}

/* 標題文字 */
.BeerU-legend-title p {
    color: white;
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-size: 3.6rem;
    letter-spacing: 1.2rem;
    text-indent:1.2rem;
    width: fit-content;
    margin: 0 auto;
    position: relative;
}

/* 左邊雕飾 */
.BeerU-legend-title p::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-115%, -50%);
    width: 150px;
    height: 50%;
    background: url(../../images/common/h1_ear_left.svg) no-repeat center center;
    background-size: contain;

}


/* 右邊雕飾 */
.BeerU-legend-title p::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right:0;
    transform: translate(115%, -50%);
    width: 150px;
    height: 50%;
    background: url(../../images/common/h1_ear_right.svg) no-repeat center center;
    background-size: contain;

}

/* 手機版 改字和雕飾大小*/
@media (max-width: 991px) {
.BeerU-legend-title p {
    font-size: 2.4rem;
    letter-spacing: 0.8rem;
    text-indent:0.8rem;
}

.BeerU-legend-title p::before {
    width: 60px;
    height: 32%;

}

.BeerU-legend-title p::after {
    width: 60px;
    height: 32%;

}


}

.BeerU-legend .legned-story-warp{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.BeerU-legend .legned-story{
    opacity: 0;
    margin-top: 50px;
}

.BeerU-legend .legned {
    cursor: pointer;
    margin: 0 auto;
   
    border-radius: 50%;
    border: solid 2px var(--gold);

    width: 180px;
    height: 180px;
   
    

}

.BeerU-legend .legned h3{
     font-family: 'Noto Serif TC', serif;
     letter-spacing: 5px;
     line-height: 50px;
    
     font-size: 3rem;
     text-align: center;
     color: var(--gold);

     margin-top: 35px;
     margin-left: 5px;
}

.BeerU-legend .legned-content{
    width: 100%;
    margin: 30px auto 0 auto;
    
}

.BeerU-legend .legned-content p{
    font-family: 'Noto Sans TC', serif;
    font-size: 1.6rem;
    word-break:break-alll;
}

/* //////////// 啤啤////////// */
.pipi{
    opacity: 0;
    margin-top: 80px;
}

.pip-wrap{
    width: 100%;
}
.clouds{
    height: 400px;
    background-image: url("../../images/common/clouds.svg");
    background-repeat: no-repeat;
    background-position:center;
    
}


.pipi-left{
    justify-content: center;
    align-items: center;
    margin-top: 80px
}

.pipi-name h3{
    
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    letter-spacing: 0.1rem;
    line-height: 1.25;
    font-size: 3.5rem;

}

.pipi-name h3:nth-of-type(2){
    margin-top: 25px;
    color:#b69564;
}


.pipi-body{
    cursor: pointer;
    position: relative;
    width: 200px;
    margin-left: 100px;
    animation: floating 4s linear infinite;
  
}

@keyframes floating {
    from { transform: rotate(20deg) translate(0,  0px) ;}
         
    45%  { transform: rotate(-5deg)  translate(0, 25px) ;}
    to   { transform: rotate(20deg) translate(0, -0px)  ;}    
}



.pipi-arrow{
    position: absolute;
    width: 70px;
    top: 33%;
    transform: translateX(-30px);
}

    
.pipi-intro{
    width: 100%;  
    
}


.pipi-intro p{
   
    padding: 15px;
    font-family: 'Noto Serif TC', serif;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 1.8rem;
    margin-top: 80px;
    word-break: break-all;
    border: solid 2px var(--gold);
    border-radius: 10px;
}


.pipi-intro p span{
    color: var(--yellow);
}


















